src/main/java/com/ndc/channel/flight/xmlBean/flightSearch/response/xml/rsp.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" targetNamespace="http://www.iata.org/IATA/2015/00/2018.2/IATA_AirShoppingRS" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="ApplicablePartyText" type="xs:string"/>
  <xs:element name="MaximumWeightMeasure">
    <xs:complexType>
      <xs:simpleContent>
        <xs:extension base="xs:string">
          <xs:attribute type="xs:string" name="UnitCode" use="optional"/>
        </xs:extension>
      </xs:simpleContent>
    </xs:complexType>
  </xs:element>
  <xs:element name="BaggageAllowanceID">
    <xs:simpleType>
      <xs:restriction base="xs:string">
        <xs:enumeration value="10579"/>
        <xs:enumeration value="10087"/>
        <xs:enumeration value="10089"/>
        <xs:enumeration value="10157"/>
        <xs:enumeration value="10577"/>
      </xs:restriction>
    </xs:simpleType>
  </xs:element>
  <xs:element name="DescText" type="xs:string"/>
  <xs:element name="TypeCode">
    <xs:simpleType>
      <xs:restriction base="xs:string">
        <xs:enumeration value="Checked"/>
        <xs:enumeration value="CarryOn"/>
        <xs:enumeration value="Cancellation"/>
        <xs:enumeration value="Upgrade"/>
        <xs:enumeration value="Change"/>
      </xs:restriction>
    </xs:simpleType>
  </xs:element>
  <xs:element name="WeightAllowance">
    <xs:complexType>
      <xs:sequence>
        <xs:element ref="iata:ApplicablePartyText" xmlns:iata="http://www.iata.org/IATA/2015/00/2018.2/IATA_AirShoppingRS"/>
        <xs:element ref="iata:MaximumWeightMeasure" xmlns:iata="http://www.iata.org/IATA/2015/00/2018.2/IATA_AirShoppingRS"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="PieceWeightAllowance">
    <xs:complexType>
      <xs:sequence>
        <xs:element ref="iata:MaximumWeightMeasure" xmlns:iata="http://www.iata.org/IATA/2015/00/2018.2/IATA_AirShoppingRS"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="TotalQty">
    <xs:simpleType>
      <xs:restriction base="xs:string">
        <xs:enumeration value="1"/>
        <xs:enumeration value="2"/>
      </xs:restriction>
    </xs:simpleType>
  </xs:element>
  <xs:element name="PieceAllowance">
    <xs:complexType>
      <xs:sequence>
        <xs:element ref="iata:ApplicablePartyText" xmlns:iata="http://www.iata.org/IATA/2015/00/2018.2/IATA_AirShoppingRS"/>
        <xs:element ref="iata:PieceWeightAllowance" xmlns:iata="http://www.iata.org/IATA/2015/00/2018.2/IATA_AirShoppingRS"/>
        <xs:element ref="iata:TotalQty" xmlns:iata="http://www.iata.org/IATA/2015/00/2018.2/IATA_AirShoppingRS"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="BaggageAllowance">
    <xs:complexType>
      <xs:sequence>
        <xs:element ref="iata:BaggageAllowanceID" xmlns:iata="http://www.iata.org/IATA/2015/00/2018.2/IATA_AirShoppingRS"/>
        <xs:element ref="iata:DescText" xmlns:iata="http://www.iata.org/IATA/2015/00/2018.2/IATA_AirShoppingRS"/>
        <xs:element ref="iata:PieceAllowance" minOccurs="0" xmlns:iata="http://www.iata.org/IATA/2015/00/2018.2/IATA_AirShoppingRS"/>
        <xs:element ref="iata:TypeCode" xmlns:iata="http://www.iata.org/IATA/2015/00/2018.2/IATA_AirShoppingRS"/>
        <xs:element ref="iata:WeightAllowance" xmlns:iata="http://www.iata.org/IATA/2015/00/2018.2/IATA_AirShoppingRS"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DestCode" type="xs:string"/>
  <xs:element name="OriginCode" type="xs:string"/>
  <xs:element name="OriginDestID" type="xs:string"/>
  <xs:element name="PaxJourneyRefID">
    <xs:simpleType>
      <xs:restriction base="xs:string">
        <xs:enumeration value="10049"/>
        <xs:enumeration value="10050"/>
      </xs:restriction>
    </xs:simpleType>
  </xs:element>
  <xs:element name="OriginDest">
    <xs:complexType>
      <xs:choice maxOccurs="unbounded" minOccurs="0">
        <xs:element ref="iata:DestCode" xmlns:iata="http://www.iata.org/IATA/2015/00/2018.2/IATA_AirShoppingRS"/>
        <xs:element ref="iata:OriginCode" xmlns:iata="http://www.iata.org/IATA/2015/00/2018.2/IATA_AirShoppingRS"/>
        <xs:element ref="iata:OriginDestID" xmlns:iata="http://www.iata.org/IATA/2015/00/2018.2/IATA_AirShoppingRS"/>
        <xs:element ref="iata:PaxJourneyRefID" xmlns:iata="http://www.iata.org/IATA/2015/00/2018.2/IATA_AirShoppingRS"/>
      </xs:choice>
    </xs:complexType>
  </xs:element>
  <xs:element name="PaxJourneyID" type="xs:string"/>
  <xs:element name="PaxSegmentRefID" type="xs:string"/>
  <xs:element name="PaxJourney">
    <xs:complexType>
      <xs:sequence>
        <xs:element ref="iata:PaxJourneyID" xmlns:iata="http://www.iata.org/IATA/2015/00/2018.2/IATA_AirShoppingRS"/>
        <xs:element ref="iata:PaxSegmentRefID" xmlns:iata="http://www.iata.org/IATA/2015/00/2018.2/IATA_AirShoppingRS"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="PaxID">
    <xs:simpleType>
      <xs:restriction base="xs:string">
        <xs:enumeration value="10000"/>
        <xs:enumeration value="10001"/>
        <xs:enumeration value="10002"/>
      </xs:restriction>
    </xs:simpleType>
  </xs:element>
  <xs:element name="PTC">
    <xs:simpleType>
      <xs:restriction base="xs:string">
        <xs:enumeration value="ADT"/>
        <xs:enumeration value="CHD"/>
        <xs:enumeration value="INF"/>
      </xs:restriction>
    </xs:simpleType>
  </xs:element>
  <xs:element name="Pax">
    <xs:complexType>
      <xs:sequence>
        <xs:element ref="iata:PaxID" xmlns:iata="http://www.iata.org/IATA/2015/00/2018.2/IATA_AirShoppingRS"/>
        <xs:element ref="iata:PTC" xmlns:iata="http://www.iata.org/IATA/2015/00/2018.2/IATA_AirShoppingRS"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AircraftScheduledDateTime" type="xs:string"/>
  <xs:element name="IATALocationCode">
    <xs:simpleType>
      <xs:restriction base="xs:string">
        <xs:enumeration value="SHA"/>
        <xs:enumeration value="PEK"/>
      </xs:restriction>
    </xs:simpleType>
  </xs:element>
  <xs:element name="StationName">
    <xs:simpleType>
      <xs:restriction base="xs:string">
        <xs:enumeration value="虹桥国际机场"/>
        <xs:enumeration value="首都国际机场"/>
      </xs:restriction>
    </xs:simpleType>
  </xs:element>
  <xs:element name="TerminalName" type="xs:string"/>
  <xs:element name="CarrierAircraftTypeCode">
    <xs:simpleType>
      <xs:restriction base="xs:string">
        <xs:enumeration value="33L"/>
        <xs:enumeration value="773"/>
        <xs:enumeration value="32L"/>
        <xs:enumeration value="33H"/>
      </xs:restriction>
    </xs:simpleType>
  </xs:element>
  <xs:element name="CarrierAircraftTypeName">
    <xs:simpleType>
      <xs:restriction base="xs:string">
        <xs:enumeration value="空客333"/>
        <xs:enumeration value="波音773"/>
        <xs:enumeration value="空客20N"/>
        <xs:enumeration value="空客332"/>
      </xs:restriction>
    </xs:simpleType>
  </xs:element>
  <xs:element name="Arrival">
    <xs:complexType>
      <xs:sequence>
        <xs:element ref="iata:AircraftScheduledDateTime" minOccurs="0" xmlns:iata="http://www.iata.org/IATA/2015/00/2018.2/IATA_AirShoppingRS"/>
        <xs:element ref="iata:IATALocationCode" xmlns:iata="http://www.iata.org/IATA/2015/00/2018.2/IATA_AirShoppingRS"/>
        <xs:element ref="iata:StationName" minOccurs="0" xmlns:iata="http://www.iata.org/IATA/2015/00/2018.2/IATA_AirShoppingRS"/>
        <xs:element ref="iata:TerminalName" minOccurs="0" xmlns:iata="http://www.iata.org/IATA/2015/00/2018.2/IATA_AirShoppingRS"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CarrierAircraftType">
    <xs:complexType>
      <xs:sequence>
        <xs:element ref="iata:CarrierAircraftTypeCode" xmlns:iata="http://www.iata.org/IATA/2015/00/2018.2/IATA_AirShoppingRS"/>
        <xs:element ref="iata:CarrierAircraftTypeName" xmlns:iata="http://www.iata.org/IATA/2015/00/2018.2/IATA_AirShoppingRS"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DatedOperatingLegID" type="xs:string"/>
  <xs:element name="Dep">
    <xs:complexType>
      <xs:sequence>
        <xs:element ref="iata:AircraftScheduledDateTime" minOccurs="0" xmlns:iata="http://www.iata.org/IATA/2015/00/2018.2/IATA_AirShoppingRS"/>
        <xs:element ref="iata:IATALocationCode" xmlns:iata="http://www.iata.org/IATA/2015/00/2018.2/IATA_AirShoppingRS"/>
        <xs:element ref="iata:StationName" minOccurs="0" xmlns:iata="http://www.iata.org/IATA/2015/00/2018.2/IATA_AirShoppingRS"/>
        <xs:element ref="iata:TerminalName" minOccurs="0" xmlns:iata="http://www.iata.org/IATA/2015/00/2018.2/IATA_AirShoppingRS"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CarrierDesigCode" type="xs:string"/>
  <xs:element name="MarketingCarrierFlightNumberText" type="xs:string"/>
  <xs:element name="OperationalSuffixText" type="xs:string"/>
  <xs:element name="OperatingCarrierFlightNumberText" type="xs:string"/>
  <xs:element name="DatedOperatingLeg">
    <xs:complexType>
      <xs:sequence>
        <xs:element ref="iata:Arrival" xmlns:iata="http://www.iata.org/IATA/2015/00/2018.2/IATA_AirShoppingRS"/>
        <xs:element ref="iata:CarrierAircraftType" xmlns:iata="http://www.iata.org/IATA/2015/00/2018.2/IATA_AirShoppingRS"/>
        <xs:element ref="iata:DatedOperatingLegID" xmlns:iata="http://www.iata.org/IATA/2015/00/2018.2/IATA_AirShoppingRS"/>
        <xs:element ref="iata:Dep" xmlns:iata="http://www.iata.org/IATA/2015/00/2018.2/IATA_AirShoppingRS"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Duration">
    <xs:simpleType>
      <xs:restriction base="xs:string">
        <xs:enumeration value="P0Y0M0DT2H20M0.000S"/>
        <xs:enumeration value="P0Y0M0DT2H15M0.000S"/>
        <xs:enumeration value="P0Y0M0DT2H10M0.000S"/>
        <xs:enumeration value="P0Y0M0DT2H30M0.000S"/>
        <xs:enumeration value="P0Y0M0DT2H25M0.000S"/>
      </xs:restriction>
    </xs:simpleType>
  </xs:element>
  <xs:element name="MarketingCarrierInfo">
    <xs:complexType>
      <xs:sequence>
        <xs:element ref="iata:CarrierDesigCode" xmlns:iata="http://www.iata.org/IATA/2015/00/2018.2/IATA_AirShoppingRS"/>
        <xs:element ref="iata:MarketingCarrierFlightNumberText" xmlns:iata="http://www.iata.org/IATA/2015/00/2018.2/IATA_AirShoppingRS"/>
        <xs:element ref="iata:OperationalSuffixText" xmlns:iata="http://www.iata.org/IATA/2015/00/2018.2/IATA_AirShoppingRS"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="OperatingCarrierInfo">
    <xs:complexType>
      <xs:sequence>
        <xs:element ref="iata:CarrierDesigCode" xmlns:iata="http://www.iata.org/IATA/2015/00/2018.2/IATA_AirShoppingRS"/>
        <xs:element ref="iata:OperatingCarrierFlightNumberText" xmlns:iata="http://www.iata.org/IATA/2015/00/2018.2/IATA_AirShoppingRS"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="PaxSegmentID" type="xs:string"/>
  <xs:element name="SecureFlightInd" type="xs:string"/>
  <xs:element name="PaxSegment">
    <xs:complexType>
      <xs:sequence>
        <xs:element ref="iata:Arrival" xmlns:iata="http://www.iata.org/IATA/2015/00/2018.2/IATA_AirShoppingRS"/>
        <xs:element ref="iata:DatedOperatingLeg" xmlns:iata="http://www.iata.org/IATA/2015/00/2018.2/IATA_AirShoppingRS"/>
        <xs:element ref="iata:Dep" xmlns:iata="http://www.iata.org/IATA/2015/00/2018.2/IATA_AirShoppingRS"/>
        <xs:element ref="iata:Duration" xmlns:iata="http://www.iata.org/IATA/2015/00/2018.2/IATA_AirShoppingRS"/>
        <xs:element ref="iata:MarketingCarrierInfo" xmlns:iata="http://www.iata.org/IATA/2015/00/2018.2/IATA_AirShoppingRS"/>
        <xs:element ref="iata:OperatingCarrierInfo" xmlns:iata="http://www.iata.org/IATA/2015/00/2018.2/IATA_AirShoppingRS"/>
        <xs:element ref="iata:PaxSegmentID" xmlns:iata="http://www.iata.org/IATA/2015/00/2018.2/IATA_AirShoppingRS"/>
        <xs:element ref="iata:SecureFlightInd" xmlns:iata="http://www.iata.org/IATA/2015/00/2018.2/IATA_AirShoppingRS"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Code">
    <xs:simpleType>
      <xs:restriction base="xs:string">
        <xs:enumeration value="onlyFd"/>
        <xs:enumeration value="COMMON_Y"/>
        <xs:enumeration value="COMMON_W"/>
      </xs:restriction>
    </xs:simpleType>
  </xs:element>
  <xs:element name="Desc">
    <xs:complexType mixed="true">
      <xs:sequence>
        <xs:element ref="iata:DescText" minOccurs="0" xmlns:iata="http://www.iata.org/IATA/2015/00/2018.2/IATA_AirShoppingRS"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Name">
    <xs:simpleType>
      <xs:restriction base="xs:string">
        <xs:enumeration value="公布运价"/>
        <xs:enumeration value="经济舱"/>
        <xs:enumeration value="超级经济舱"/>
        <xs:enumeration value="BAGGAGE"/>
        <xs:enumeration value="SEAT_SALE"/>
        <xs:enumeration value="WIFI"/>
        <xs:enumeration value="SEAT"/>
        <xs:enumeration value="NDC_SHOPPING_COMMON"/>
      </xs:restriction>
    </xs:simpleType>
  </xs:element>
  <xs:element name="PriceClassID">
    <xs:simpleType>
      <xs:restriction base="xs:string">
        <xs:enumeration value="10072"/>
        <xs:enumeration value="10073"/>
        <xs:enumeration value="10074"/>
      </xs:restriction>
    </xs:simpleType>
  </xs:element>
  <xs:element name="PriceClass">
    <xs:complexType>
      <xs:sequence>
        <xs:element ref="iata:Code" xmlns:iata="http://www.iata.org/IATA/2015/00/2018.2/IATA_AirShoppingRS"/>
        <xs:element ref="iata:Desc" xmlns:iata="http://www.iata.org/IATA/2015/00/2018.2/IATA_AirShoppingRS"/>
        <xs:element ref="iata:Name" xmlns:iata="http://www.iata.org/IATA/2015/00/2018.2/IATA_AirShoppingRS"/>
        <xs:element ref="iata:PriceClassID" xmlns:iata="http://www.iata.org/IATA/2015/00/2018.2/IATA_AirShoppingRS"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="BaggageAllowanceRefID">
    <xs:simpleType>
      <xs:restriction base="xs:string">
        <xs:enumeration value="10087"/>
        <xs:enumeration value="10089"/>
        <xs:enumeration value="10157"/>
        <xs:enumeration value="10577"/>
        <xs:enumeration value="10579"/>
      </xs:restriction>
    </xs:simpleType>
  </xs:element>
  <xs:element name="ServiceCode">
    <xs:simpleType>
      <xs:restriction base="xs:string">
        <xs:enumeration value="10KG1PCCARRY_ON"/>
        <xs:enumeration value="20KG"/>
        <xs:enumeration value="10"/>
        <xs:enumeration value="30KG"/>
        <xs:enumeration value="8"/>
        <xs:enumeration value="10KG2PCCARRY_ON"/>
        <xs:enumeration value="40KG"/>
        <xs:enumeration value="6"/>
      </xs:restriction>
    </xs:simpleType>
  </xs:element>
  <xs:element name="ServiceDefinitionAssociation">
    <xs:complexType>
      <xs:sequence>
        <xs:element ref="iata:BaggageAllowanceRefID" minOccurs="0" xmlns:iata="http://www.iata.org/IATA/2015/00/2018.2/IATA_AirShoppingRS"/>
        <xs:element ref="iata:ServiceBundle" minOccurs="0" xmlns:iata="http://www.iata.org/IATA/2015/00/2018.2/IATA_AirShoppingRS"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ServiceDefinitionID">
    <xs:simpleType>
      <xs:restriction base="xs:string">
        <xs:enumeration value="10088"/>
        <xs:enumeration value="10090"/>
        <xs:enumeration value="10091"/>
        <xs:enumeration value="10158"/>
        <xs:enumeration value="10159"/>
        <xs:enumeration value="10180"/>
        <xs:enumeration value="10578"/>
        <xs:enumeration value="10580"/>
        <xs:enumeration value="10581"/>
        <xs:enumeration value="13104"/>
      </xs:restriction>
    </xs:simpleType>
  </xs:element>
  <xs:element name="MaximumServiceQty">
    <xs:simpleType>
      <xs:restriction base="xs:string">
        <xs:enumeration value="10"/>
        <xs:enumeration value="8"/>
        <xs:enumeration value="6"/>
      </xs:restriction>
    </xs:simpleType>
  </xs:element>
  <xs:element name="ServiceDefinitionRefID">
    <xs:simpleType>
      <xs:restriction base="xs:string">
        <xs:enumeration value="13104"/>
        <xs:enumeration value="10088"/>
        <xs:enumeration value="10090"/>
        <xs:enumeration value="10091"/>
        <xs:enumeration value="10158"/>
        <xs:enumeration value="10159"/>
        <xs:enumeration value="10180"/>
        <xs:enumeration value="10578"/>
        <xs:enumeration value="10580"/>
        <xs:enumeration value="10581"/>
      </xs:restriction>
    </xs:simpleType>
  </xs:element>
  <xs:element name="ServiceBundle">
    <xs:complexType>
      <xs:sequence>
        <xs:element ref="iata:MaximumServiceQty" xmlns:iata="http://www.iata.org/IATA/2015/00/2018.2/IATA_AirShoppingRS"/>
        <xs:element ref="iata:ServiceDefinitionRefID" xmlns:iata="http://www.iata.org/IATA/2015/00/2018.2/IATA_AirShoppingRS"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ServiceDefinition">
    <xs:complexType>
      <xs:sequence>
        <xs:element ref="iata:Desc" xmlns:iata="http://www.iata.org/IATA/2015/00/2018.2/IATA_AirShoppingRS"/>
        <xs:element ref="iata:Name" xmlns:iata="http://www.iata.org/IATA/2015/00/2018.2/IATA_AirShoppingRS"/>
        <xs:element ref="iata:ServiceCode" minOccurs="0" xmlns:iata="http://www.iata.org/IATA/2015/00/2018.2/IATA_AirShoppingRS"/>
        <xs:element ref="iata:ServiceDefinitionAssociation" minOccurs="0" xmlns:iata="http://www.iata.org/IATA/2015/00/2018.2/IATA_AirShoppingRS"/>
        <xs:element ref="iata:ServiceDefinitionID" xmlns:iata="http://www.iata.org/IATA/2015/00/2018.2/IATA_AirShoppingRS"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="BaggageAllowanceList">
    <xs:complexType>
      <xs:sequence>
        <xs:element ref="iata:BaggageAllowance" maxOccurs="unbounded" minOccurs="0" xmlns:iata="http://www.iata.org/IATA/2015/00/2018.2/IATA_AirShoppingRS"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="OriginDestList">
    <xs:complexType>
      <xs:sequence>
        <xs:element ref="iata:OriginDest" xmlns:iata="http://www.iata.org/IATA/2015/00/2018.2/IATA_AirShoppingRS"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="PaxJourneyList">
    <xs:complexType>
      <xs:sequence>
        <xs:element ref="iata:PaxJourney" maxOccurs="unbounded" minOccurs="0" xmlns:iata="http://www.iata.org/IATA/2015/00/2018.2/IATA_AirShoppingRS"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="PaxList">
    <xs:complexType>
      <xs:sequence>
        <xs:element ref="iata:Pax" maxOccurs="unbounded" minOccurs="0" xmlns:iata="http://www.iata.org/IATA/2015/00/2018.2/IATA_AirShoppingRS"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="PaxSegmentList">
    <xs:complexType>
      <xs:sequence>
        <xs:element ref="iata:PaxSegment" maxOccurs="unbounded" minOccurs="0" xmlns:iata="http://www.iata.org/IATA/2015/00/2018.2/IATA_AirShoppingRS"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="PriceClassList">
    <xs:complexType>
      <xs:sequence>
        <xs:element ref="iata:PriceClass" maxOccurs="unbounded" minOccurs="0" xmlns:iata="http://www.iata.org/IATA/2015/00/2018.2/IATA_AirShoppingRS"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ServiceDefinitionList">
    <xs:complexType>
      <xs:sequence>
        <xs:element ref="iata:ServiceDefinition" maxOccurs="unbounded" minOccurs="0" xmlns:iata="http://www.iata.org/IATA/2015/00/2018.2/IATA_AirShoppingRS"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CabinTypeCode">
    <xs:simpleType>
      <xs:restriction base="xs:string">
        <xs:enumeration value="Y"/>
        <xs:enumeration value="J"/>
        <xs:enumeration value="W"/>
        <xs:enumeration value="F"/>
      </xs:restriction>
    </xs:simpleType>
  </xs:element>
  <xs:element name="CabinTypeName">
    <xs:simpleType>
      <xs:restriction base="xs:string">
        <xs:enumeration value="经济舱"/>
        <xs:enumeration value="公务舱"/>
        <xs:enumeration value="超级经济舱"/>
        <xs:enumeration value="头等舱"/>
      </xs:restriction>
    </xs:simpleType>
  </xs:element>
  <xs:element name="AppCode">
    <xs:simpleType>
      <xs:restriction base="xs:string">
        <xs:enumeration value="ADE"/>
        <xs:enumeration value="PDE"/>
      </xs:restriction>
    </xs:simpleType>
  </xs:element>
  <xs:element name="PenaltyPercent">
    <xs:simpleType>
      <xs:restriction base="xs:string">
        <xs:enumeration value="40"/>
        <xs:enumeration value="35"/>
        <xs:enumeration value="15"/>
        <xs:enumeration value="10"/>
        <xs:enumeration value="30"/>
        <xs:enumeration value="25"/>
        <xs:enumeration value="5"/>
        <xs:enumeration value="20"/>
        <xs:enumeration value="0"/>
      </xs:restriction>
    </xs:simpleType>
  </xs:element>
  <xs:element name="PenaltyAmount">
    <xs:complexType>
      <xs:simpleContent>
        <xs:extension base="xs:string">
          <xs:attribute type="xs:string" name="CurCode" use="optional"/>
        </xs:extension>
      </xs:simpleContent>
    </xs:complexType>
  </xs:element>
  <xs:element name="RemarkText" type="xs:string"/>
  <xs:element name="Penalty">
    <xs:complexType>
      <xs:sequence>
        <xs:element ref="iata:AppCode" xmlns:iata="http://www.iata.org/IATA/2015/00/2018.2/IATA_AirShoppingRS"/>
        <xs:element ref="iata:DescText" xmlns:iata="http://www.iata.org/IATA/2015/00/2018.2/IATA_AirShoppingRS"/>
        <xs:element ref="iata:PenaltyPercent" minOccurs="0" xmlns:iata="http://www.iata.org/IATA/2015/00/2018.2/IATA_AirShoppingRS"/>
        <xs:element ref="iata:PenaltyAmount" minOccurs="0" xmlns:iata="http://www.iata.org/IATA/2015/00/2018.2/IATA_AirShoppingRS"/>
        <xs:element ref="iata:TypeCode" xmlns:iata="http://www.iata.org/IATA/2015/00/2018.2/IATA_AirShoppingRS"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Remark">
    <xs:complexType>
      <xs:sequence>
        <xs:element ref="iata:RemarkText" xmlns:iata="http://www.iata.org/IATA/2015/00/2018.2/IATA_AirShoppingRS"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="BaseAmount">
    <xs:complexType>
      <xs:simpleContent>
        <xs:extension base="xs:string">
          <xs:attribute type="xs:string" name="CurCode" use="optional"/>
        </xs:extension>
      </xs:simpleContent>
    </xs:complexType>
  </xs:element>
  <xs:element name="TotalAmount">
    <xs:complexType>
      <xs:simpleContent>
        <xs:extension base="xs:string">
          <xs:attribute type="xs:string" name="CurCode" use="optional"/>
        </xs:extension>
      </xs:simpleContent>
    </xs:complexType>
  </xs:element>
  <xs:element name="RBDCode">
    <xs:simpleType>
      <xs:restriction base="xs:string">
        <xs:enumeration value="E"/>
        <xs:enumeration value="Y"/>
        <xs:enumeration value="J"/>
        <xs:enumeration value="W"/>
        <xs:enumeration value="P"/>
        <xs:enumeration value="F"/>
      </xs:restriction>
    </xs:simpleType>
  </xs:element>
  <xs:element name="CabinType">
    <xs:complexType>
      <xs:sequence>
        <xs:element ref="iata:CabinTypeCode" xmlns:iata="http://www.iata.org/IATA/2015/00/2018.2/IATA_AirShoppingRS"/>
        <xs:element ref="iata:CabinTypeName" xmlns:iata="http://www.iata.org/IATA/2015/00/2018.2/IATA_AirShoppingRS"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="FareBasisCode" type="xs:string"/>
  <xs:element name="FareRule">
    <xs:complexType>
      <xs:sequence>
        <xs:element ref="iata:Penalty" maxOccurs="unbounded" minOccurs="0" xmlns:iata="http://www.iata.org/IATA/2015/00/2018.2/IATA_AirShoppingRS"/>
        <xs:element ref="iata:Remark" xmlns:iata="http://www.iata.org/IATA/2015/00/2018.2/IATA_AirShoppingRS"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="FareTypeCode">
    <xs:simpleType>
      <xs:restriction base="xs:string">
        <xs:enumeration value="Y"/>
        <xs:enumeration value="J"/>
        <xs:enumeration value="W"/>
        <xs:enumeration value="F"/>
      </xs:restriction>
    </xs:simpleType>
  </xs:element>
  <xs:element name="Price">
    <xs:complexType>
      <xs:sequence>
        <xs:element ref="iata:BaseAmount" xmlns:iata="http://www.iata.org/IATA/2015/00/2018.2/IATA_AirShoppingRS"/>
        <xs:element ref="iata:Discount" minOccurs="0" xmlns:iata="http://www.iata.org/IATA/2015/00/2018.2/IATA_AirShoppingRS"/>
        <xs:element ref="iata:TaxSummary" minOccurs="0" xmlns:iata="http://www.iata.org/IATA/2015/00/2018.2/IATA_AirShoppingRS"/>
        <xs:element ref="iata:TotalAmount" xmlns:iata="http://www.iata.org/IATA/2015/00/2018.2/IATA_AirShoppingRS"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="PriceClassRefID">
    <xs:simpleType>
      <xs:restriction base="xs:string">
        <xs:enumeration value="10073"/>
        <xs:enumeration value="10072"/>
        <xs:enumeration value="10074"/>
      </xs:restriction>
    </xs:simpleType>
  </xs:element>
  <xs:element name="RBD">
    <xs:complexType>
      <xs:sequence>
        <xs:element ref="iata:RBDCode" xmlns:iata="http://www.iata.org/IATA/2015/00/2018.2/IATA_AirShoppingRS"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DiscountAmount">
    <xs:complexType>
      <xs:simpleContent>
        <xs:extension base="xs:string">
          <xs:attribute type="xs:string" name="CurCode" use="optional"/>
        </xs:extension>
      </xs:simpleContent>
    </xs:complexType>
  </xs:element>
  <xs:element name="PreDiscountedAmount">
    <xs:complexType>
      <xs:simpleContent>
        <xs:extension base="xs:string">
          <xs:attribute type="xs:string" name="CurCode" use="optional"/>
        </xs:extension>
      </xs:simpleContent>
    </xs:complexType>
  </xs:element>
  <xs:element name="ApproximateInd" type="xs:string"/>
  <xs:element name="TotalTaxAmount">
    <xs:complexType>
      <xs:simpleContent>
        <xs:extension base="xs:string">
          <xs:attribute type="xs:string" name="CurCode" use="optional"/>
        </xs:extension>
      </xs:simpleContent>
    </xs:complexType>
  </xs:element>
  <xs:element name="Discount">
    <xs:complexType>
      <xs:sequence>
        <xs:element ref="iata:DiscountAmount" xmlns:iata="http://www.iata.org/IATA/2015/00/2018.2/IATA_AirShoppingRS"/>
        <xs:element ref="iata:PreDiscountedAmount" xmlns:iata="http://www.iata.org/IATA/2015/00/2018.2/IATA_AirShoppingRS"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="TaxSummary">
    <xs:complexType>
      <xs:sequence>
        <xs:element ref="iata:ApproximateInd" xmlns:iata="http://www.iata.org/IATA/2015/00/2018.2/IATA_AirShoppingRS"/>
        <xs:element ref="iata:TotalTaxAmount" xmlns:iata="http://www.iata.org/IATA/2015/00/2018.2/IATA_AirShoppingRS"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="FarePriceTypeCode" type="xs:string"/>
  <xs:element name="FareComponent">
    <xs:complexType>
      <xs:sequence>
        <xs:element ref="iata:CabinType" xmlns:iata="http://www.iata.org/IATA/2015/00/2018.2/IATA_AirShoppingRS"/>
        <xs:element ref="iata:FareBasisCode" xmlns:iata="http://www.iata.org/IATA/2015/00/2018.2/IATA_AirShoppingRS"/>
        <xs:element ref="iata:FareRule" maxOccurs="unbounded" minOccurs="0" xmlns:iata="http://www.iata.org/IATA/2015/00/2018.2/IATA_AirShoppingRS"/>
        <xs:element ref="iata:FareTypeCode" xmlns:iata="http://www.iata.org/IATA/2015/00/2018.2/IATA_AirShoppingRS"/>
        <xs:element ref="iata:PaxSegmentRefID" xmlns:iata="http://www.iata.org/IATA/2015/00/2018.2/IATA_AirShoppingRS"/>
        <xs:element ref="iata:Price" xmlns:iata="http://www.iata.org/IATA/2015/00/2018.2/IATA_AirShoppingRS"/>
        <xs:element ref="iata:PriceClassRefID" xmlns:iata="http://www.iata.org/IATA/2015/00/2018.2/IATA_AirShoppingRS"/>
        <xs:element ref="iata:RBD" xmlns:iata="http://www.iata.org/IATA/2015/00/2018.2/IATA_AirShoppingRS"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="FareIndCode" type="xs:string"/>
  <xs:element name="FarePriceType">
    <xs:complexType>
      <xs:sequence>
        <xs:element ref="iata:FarePriceTypeCode" xmlns:iata="http://www.iata.org/IATA/2015/00/2018.2/IATA_AirShoppingRS"/>
        <xs:element ref="iata:Price" xmlns:iata="http://www.iata.org/IATA/2015/00/2018.2/IATA_AirShoppingRS"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="FareRefText" type="xs:string"/>
  <xs:element name="PricingSystemCodeText" type="xs:string"/>
  <xs:element name="StatisticalCodeText" type="xs:string"/>
  <xs:element name="TourCode">
    <xs:simpleType>
      <xs:restriction base="xs:string">
        <xs:enumeration value="DM-900ENFD"/>
        <xs:enumeration value="WEB1004"/>
        <xs:enumeration value="P"/>
      </xs:restriction>
    </xs:simpleType>
  </xs:element>
  <xs:element name="ServiceDefinitionRef">
    <xs:complexType>
      <xs:sequence>
        <xs:element ref="iata:PaxSegmentRefID" xmlns:iata="http://www.iata.org/IATA/2015/00/2018.2/IATA_AirShoppingRS"/>
        <xs:element ref="iata:ServiceDefinitionRefID" xmlns:iata="http://www.iata.org/IATA/2015/00/2018.2/IATA_AirShoppingRS"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="PaxRefID">
    <xs:simpleType>
      <xs:restriction base="xs:string">
        <xs:enumeration value="10000"/>
        <xs:enumeration value="10001"/>
        <xs:enumeration value="10002"/>
      </xs:restriction>
    </xs:simpleType>
  </xs:element>
  <xs:element name="ServiceAssociations">
    <xs:complexType>
      <xs:sequence>
        <xs:element ref="iata:ServiceDefinitionRef" xmlns:iata="http://www.iata.org/IATA/2015/00/2018.2/IATA_AirShoppingRS"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ServiceID" type="xs:string"/>
  <xs:element name="FareDetail">
    <xs:complexType>
      <xs:sequence>
        <xs:element ref="iata:FareComponent" xmlns:iata="http://www.iata.org/IATA/2015/00/2018.2/IATA_AirShoppingRS"/>
        <xs:element ref="iata:FareIndCode" xmlns:iata="http://www.iata.org/IATA/2015/00/2018.2/IATA_AirShoppingRS"/>
        <xs:element ref="iata:FarePriceType" xmlns:iata="http://www.iata.org/IATA/2015/00/2018.2/IATA_AirShoppingRS"/>
        <xs:element ref="iata:FareRefText" xmlns:iata="http://www.iata.org/IATA/2015/00/2018.2/IATA_AirShoppingRS"/>
        <xs:element ref="iata:PricingSystemCodeText" xmlns:iata="http://www.iata.org/IATA/2015/00/2018.2/IATA_AirShoppingRS"/>
        <xs:element ref="iata:StatisticalCodeText" xmlns:iata="http://www.iata.org/IATA/2015/00/2018.2/IATA_AirShoppingRS"/>
        <xs:element ref="iata:TourCode" xmlns:iata="http://www.iata.org/IATA/2015/00/2018.2/IATA_AirShoppingRS"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="OfferItemID" type="xs:string"/>
  <xs:element name="Service">
    <xs:complexType>
      <xs:sequence>
        <xs:element ref="iata:PaxRefID" xmlns:iata="http://www.iata.org/IATA/2015/00/2018.2/IATA_AirShoppingRS"/>
        <xs:element ref="iata:ServiceAssociations" xmlns:iata="http://www.iata.org/IATA/2015/00/2018.2/IATA_AirShoppingRS"/>
        <xs:element ref="iata:ServiceID" xmlns:iata="http://www.iata.org/IATA/2015/00/2018.2/IATA_AirShoppingRS"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="PTC_PricedCode">
    <xs:simpleType>
      <xs:restriction base="xs:string">
        <xs:enumeration value="ADT"/>
        <xs:enumeration value="CHD"/>
        <xs:enumeration value="INF"/>
      </xs:restriction>
    </xs:simpleType>
  </xs:element>
  <xs:element name="OfferID">
    <xs:simpleType>
      <xs:restriction base="xs:string">
        <xs:enumeration value="10075"/>
        <xs:enumeration value="10077"/>
        <xs:enumeration value="10079"/>
      </xs:restriction>
    </xs:simpleType>
  </xs:element>
  <xs:element name="OfferItem">
    <xs:complexType>
      <xs:sequence>
        <xs:element ref="iata:FareDetail" xmlns:iata="http://www.iata.org/IATA/2015/00/2018.2/IATA_AirShoppingRS"/>
        <xs:element ref="iata:OfferItemID" xmlns:iata="http://www.iata.org/IATA/2015/00/2018.2/IATA_AirShoppingRS"/>
        <xs:element ref="iata:Price" xmlns:iata="http://www.iata.org/IATA/2015/00/2018.2/IATA_AirShoppingRS"/>
        <xs:element ref="iata:Service" maxOccurs="unbounded" minOccurs="0" xmlns:iata="http://www.iata.org/IATA/2015/00/2018.2/IATA_AirShoppingRS"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="OwnerCode" type="xs:string"/>
  <xs:element name="OwnerTypeCode" type="xs:string"/>
  <xs:element name="PTC_OfferParameters">
    <xs:complexType>
      <xs:sequence>
        <xs:element ref="iata:PTC_PricedCode" xmlns:iata="http://www.iata.org/IATA/2015/00/2018.2/IATA_AirShoppingRS"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Offer">
    <xs:complexType>
      <xs:sequence>
        <xs:element ref="iata:Desc" xmlns:iata="http://www.iata.org/IATA/2015/00/2018.2/IATA_AirShoppingRS"/>
        <xs:element ref="iata:OfferID" xmlns:iata="http://www.iata.org/IATA/2015/00/2018.2/IATA_AirShoppingRS"/>
        <xs:element ref="iata:OfferItem" maxOccurs="unbounded" minOccurs="0" xmlns:iata="http://www.iata.org/IATA/2015/00/2018.2/IATA_AirShoppingRS"/>
        <xs:element ref="iata:OwnerCode" xmlns:iata="http://www.iata.org/IATA/2015/00/2018.2/IATA_AirShoppingRS"/>
        <xs:element ref="iata:OwnerTypeCode" xmlns:iata="http://www.iata.org/IATA/2015/00/2018.2/IATA_AirShoppingRS"/>
        <xs:element ref="iata:PTC_OfferParameters" xmlns:iata="http://www.iata.org/IATA/2015/00/2018.2/IATA_AirShoppingRS"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CarrierOffers">
    <xs:complexType>
      <xs:sequence>
        <xs:element ref="iata:Offer" maxOccurs="unbounded" minOccurs="0" xmlns:iata="http://www.iata.org/IATA/2015/00/2018.2/IATA_AirShoppingRS"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ShoppingResponseID" type="xs:string"/>
  <xs:element name="DataLists">
    <xs:complexType>
      <xs:sequence>
        <xs:element ref="iata:BaggageAllowanceList" xmlns:iata="http://www.iata.org/IATA/2015/00/2018.2/IATA_AirShoppingRS"/>
        <xs:element ref="iata:OriginDestList" xmlns:iata="http://www.iata.org/IATA/2015/00/2018.2/IATA_AirShoppingRS"/>
        <xs:element ref="iata:PaxJourneyList" xmlns:iata="http://www.iata.org/IATA/2015/00/2018.2/IATA_AirShoppingRS"/>
        <xs:element ref="iata:PaxList" xmlns:iata="http://www.iata.org/IATA/2015/00/2018.2/IATA_AirShoppingRS"/>
        <xs:element ref="iata:PaxSegmentList" xmlns:iata="http://www.iata.org/IATA/2015/00/2018.2/IATA_AirShoppingRS"/>
        <xs:element ref="iata:PriceClassList" xmlns:iata="http://www.iata.org/IATA/2015/00/2018.2/IATA_AirShoppingRS"/>
        <xs:element ref="iata:ServiceDefinitionList" xmlns:iata="http://www.iata.org/IATA/2015/00/2018.2/IATA_AirShoppingRS"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="OffersGroup">
    <xs:complexType>
      <xs:sequence>
        <xs:element ref="iata:CarrierOffers" xmlns:iata="http://www.iata.org/IATA/2015/00/2018.2/IATA_AirShoppingRS"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ShoppingResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element ref="iata:OwnerCode" xmlns:iata="http://www.iata.org/IATA/2015/00/2018.2/IATA_AirShoppingRS"/>
        <xs:element ref="iata:ShoppingResponseID" xmlns:iata="http://www.iata.org/IATA/2015/00/2018.2/IATA_AirShoppingRS"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RefVersionNumber" type="xs:string"/>
  <xs:element name="AltLangID" type="xs:string"/>
  <xs:element name="CorrelationID" type="xs:string"/>
  <xs:element name="EchoTokenText" type="xs:string"/>
  <xs:element name="PrimaryLangID" type="xs:string"/>
  <xs:element name="RetransmissionInd" type="xs:string"/>
  <xs:element name="SeqNumber" type="xs:string"/>
  <xs:element name="Timestamp" type="xs:string"/>
  <xs:element name="TrxID" type="xs:string"/>
  <xs:element name="TrxStatusCode" type="xs:string"/>
  <xs:element name="Response">
    <xs:complexType>
      <xs:sequence>
        <xs:element ref="iata:DataLists" xmlns:iata="http://www.iata.org/IATA/2015/00/2018.2/IATA_AirShoppingRS"/>
        <xs:element ref="iata:OffersGroup" xmlns:iata="http://www.iata.org/IATA/2015/00/2018.2/IATA_AirShoppingRS"/>
        <xs:element ref="iata:ShoppingResponse" xmlns:iata="http://www.iata.org/IATA/2015/00/2018.2/IATA_AirShoppingRS"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="MessageDoc">
    <xs:complexType>
      <xs:sequence>
        <xs:element ref="iata:Name" xmlns:iata="http://www.iata.org/IATA/2015/00/2018.2/IATA_AirShoppingRS"/>
        <xs:element ref="iata:RefVersionNumber" xmlns:iata="http://www.iata.org/IATA/2015/00/2018.2/IATA_AirShoppingRS"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="PayloadAttributes">
    <xs:complexType>
      <xs:sequence>
        <xs:element ref="iata:AltLangID" xmlns:iata="http://www.iata.org/IATA/2015/00/2018.2/IATA_AirShoppingRS"/>
        <xs:element ref="iata:CorrelationID" xmlns:iata="http://www.iata.org/IATA/2015/00/2018.2/IATA_AirShoppingRS"/>
        <xs:element ref="iata:EchoTokenText" xmlns:iata="http://www.iata.org/IATA/2015/00/2018.2/IATA_AirShoppingRS"/>
        <xs:element ref="iata:PrimaryLangID" xmlns:iata="http://www.iata.org/IATA/2015/00/2018.2/IATA_AirShoppingRS"/>
        <xs:element ref="iata:RetransmissionInd" xmlns:iata="http://www.iata.org/IATA/2015/00/2018.2/IATA_AirShoppingRS"/>
        <xs:element ref="iata:SeqNumber" xmlns:iata="http://www.iata.org/IATA/2015/00/2018.2/IATA_AirShoppingRS"/>
        <xs:element ref="iata:Timestamp" xmlns:iata="http://www.iata.org/IATA/2015/00/2018.2/IATA_AirShoppingRS"/>
        <xs:element ref="iata:TrxID" xmlns:iata="http://www.iata.org/IATA/2015/00/2018.2/IATA_AirShoppingRS"/>
        <xs:element ref="iata:TrxStatusCode" xmlns:iata="http://www.iata.org/IATA/2015/00/2018.2/IATA_AirShoppingRS"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="IATA_AirShoppingRS">
    <xs:complexType>
      <xs:sequence>
        <xs:element ref="iata:Response" xmlns:iata="http://www.iata.org/IATA/2015/00/2018.2/IATA_AirShoppingRS"/>
        <xs:element ref="iata:MessageDoc" xmlns:iata="http://www.iata.org/IATA/2015/00/2018.2/IATA_AirShoppingRS"/>
        <xs:element ref="iata:PayloadAttributes" xmlns:iata="http://www.iata.org/IATA/2015/00/2018.2/IATA_AirShoppingRS"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>