src/main/java/com/ndc/channel/flight/xmlBean/changeFlightSearch/response/xml/resp_params.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" targetNamespace="http://www.iata.org/IATA/2015/00/2018.2/IATA_OrderReshopRS" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="MaximumWeightMeasure">
    <xs:complexType>
      <xs:simpleContent>
        <xs:extension base="xs:string">
          <xs:attribute type="xs:string" name="UnitCode" use="optional"/>
        </xs:extension>
      </xs:simpleContent>
    </xs:complexType>
  </xs:element>
  <xs:element name="ApplicablePartyText" type="xs:string"/>
  <xs:element name="PieceWeightAllowance">
    <xs:complexType>
      <xs:sequence>
        <xs:element ref="iata:MaximumWeightMeasure" xmlns:iata="http://www.iata.org/IATA/2015/00/2018.2/IATA_OrderReshopRS"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="TotalQty" type="xs:string"/>
  <xs:element name="BaggageAllowanceID">
    <xs:simpleType>
      <xs:restriction base="xs:string">
        <xs:enumeration value="10153"/>
        <xs:enumeration value="10468"/>
      </xs:restriction>
    </xs:simpleType>
  </xs:element>
  <xs:element name="DescText" type="xs:string"/>
  <xs:element name="PieceAllowance">
    <xs:complexType>
      <xs:sequence>
        <xs:element ref="iata:ApplicablePartyText" xmlns:iata="http://www.iata.org/IATA/2015/00/2018.2/IATA_OrderReshopRS"/>
        <xs:element ref="iata:PieceWeightAllowance" xmlns:iata="http://www.iata.org/IATA/2015/00/2018.2/IATA_OrderReshopRS"/>
        <xs:element ref="iata:TotalQty" xmlns:iata="http://www.iata.org/IATA/2015/00/2018.2/IATA_OrderReshopRS"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="TypeCode">
    <xs:simpleType>
      <xs:restriction base="xs:string">
        <xs:enumeration value="Checked"/>
        <xs:enumeration value="CarryOn"/>
        <xs:enumeration value="Cancellation"/>
        <xs:enumeration value="Upgrade"/>
        <xs:enumeration value="Change"/>
      </xs:restriction>
    </xs:simpleType>
  </xs:element>
  <xs:element name="WeightAllowance">
    <xs:complexType>
      <xs:sequence>
        <xs:element ref="iata:ApplicablePartyText" xmlns:iata="http://www.iata.org/IATA/2015/00/2018.2/IATA_OrderReshopRS"/>
        <xs:element ref="iata:MaximumWeightMeasure" xmlns:iata="http://www.iata.org/IATA/2015/00/2018.2/IATA_OrderReshopRS"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="BaggageAllowance">
    <xs:complexType>
      <xs:sequence>
        <xs:element ref="iata:BaggageAllowanceID" xmlns:iata="http://www.iata.org/IATA/2015/00/2018.2/IATA_OrderReshopRS"/>
        <xs:element ref="iata:DescText" xmlns:iata="http://www.iata.org/IATA/2015/00/2018.2/IATA_OrderReshopRS"/>
        <xs:element ref="iata:PieceAllowance" xmlns:iata="http://www.iata.org/IATA/2015/00/2018.2/IATA_OrderReshopRS"/>
        <xs:element ref="iata:TypeCode" xmlns:iata="http://www.iata.org/IATA/2015/00/2018.2/IATA_OrderReshopRS"/>
        <xs:element ref="iata:WeightAllowance" xmlns:iata="http://www.iata.org/IATA/2015/00/2018.2/IATA_OrderReshopRS"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DestCode" type="xs:string"/>
  <xs:element name="OriginCode" type="xs:string"/>
  <xs:element name="OriginDestID" type="xs:string"/>
  <xs:element name="PaxJourneyRefID" type="xs:string"/>
  <xs:element name="OriginDest">
    <xs:complexType>
      <xs:sequence>
        <xs:element ref="iata:DestCode" xmlns:iata="http://www.iata.org/IATA/2015/00/2018.2/IATA_OrderReshopRS"/>
        <xs:element ref="iata:OriginCode" xmlns:iata="http://www.iata.org/IATA/2015/00/2018.2/IATA_OrderReshopRS"/>
        <xs:element ref="iata:OriginDestID" xmlns:iata="http://www.iata.org/IATA/2015/00/2018.2/IATA_OrderReshopRS"/>
        <xs:element ref="iata:PaxJourneyRefID" xmlns:iata="http://www.iata.org/IATA/2015/00/2018.2/IATA_OrderReshopRS"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="PaxJourneyID" type="xs:string"/>
  <xs:element name="PaxSegmentRefID" type="xs:string"/>
  <xs:element name="PaxJourney">
    <xs:complexType>
      <xs:sequence>
        <xs:element ref="iata:PaxJourneyID" xmlns:iata="http://www.iata.org/IATA/2015/00/2018.2/IATA_OrderReshopRS"/>
        <xs:element ref="iata:PaxSegmentRefID" xmlns:iata="http://www.iata.org/IATA/2015/00/2018.2/IATA_OrderReshopRS"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="PaxID">
    <xs:simpleType>
      <xs:restriction base="xs:string">
        <xs:enumeration value="10000"/>
        <xs:enumeration value="10001"/>
        <xs:enumeration value="10002"/>
      </xs:restriction>
    </xs:simpleType>
  </xs:element>
  <xs:element name="PTC">
    <xs:simpleType>
      <xs:restriction base="xs:string">
        <xs:enumeration value="ADT"/>
        <xs:enumeration value="CHD"/>
        <xs:enumeration value="INF"/>
      </xs:restriction>
    </xs:simpleType>
  </xs:element>
  <xs:element name="Pax">
    <xs:complexType>
      <xs:sequence>
        <xs:element ref="iata:PaxID" xmlns:iata="http://www.iata.org/IATA/2015/00/2018.2/IATA_OrderReshopRS"/>
        <xs:element ref="iata:PTC" xmlns:iata="http://www.iata.org/IATA/2015/00/2018.2/IATA_OrderReshopRS"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AircraftScheduledDateTime">
    <xs:simpleType>
      <xs:restriction base="xs:string">
        <xs:enumeration value="2019-08-03T10:45:00.000+08:00"/>
        <xs:enumeration value="2019-08-03T08:30:00.000+08:00"/>
      </xs:restriction>
    </xs:simpleType>
  </xs:element>
  <xs:element name="IATALocationCode">
    <xs:simpleType>
      <xs:restriction base="xs:string">
        <xs:enumeration value="PEK"/>
        <xs:enumeration value="SHA"/>
      </xs:restriction>
    </xs:simpleType>
  </xs:element>
  <xs:element name="StationName">
    <xs:simpleType>
      <xs:restriction base="xs:string">
        <xs:enumeration value="北京首都机场"/>
        <xs:enumeration value="上海虹桥机场"/>
      </xs:restriction>
    </xs:simpleType>
  </xs:element>
  <xs:element name="TerminalName" type="xs:string"/>
  <xs:element name="CarrierAircraftTypeCode" type="xs:string"/>
  <xs:element name="CarrierAircraftTypeName" type="xs:string"/>
  <xs:element name="Arrival">
    <xs:complexType>
      <xs:sequence>
        <xs:element ref="iata:AircraftScheduledDateTime" minOccurs="0" xmlns:iata="http://www.iata.org/IATA/2015/00/2018.2/IATA_OrderReshopRS"/>
        <xs:element ref="iata:IATALocationCode" xmlns:iata="http://www.iata.org/IATA/2015/00/2018.2/IATA_OrderReshopRS"/>
        <xs:element ref="iata:StationName" minOccurs="0" xmlns:iata="http://www.iata.org/IATA/2015/00/2018.2/IATA_OrderReshopRS"/>
        <xs:element ref="iata:TerminalName" minOccurs="0" xmlns:iata="http://www.iata.org/IATA/2015/00/2018.2/IATA_OrderReshopRS"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CarrierAircraftType">
    <xs:complexType>
      <xs:sequence>
        <xs:element ref="iata:CarrierAircraftTypeCode" xmlns:iata="http://www.iata.org/IATA/2015/00/2018.2/IATA_OrderReshopRS"/>
        <xs:element ref="iata:CarrierAircraftTypeName" xmlns:iata="http://www.iata.org/IATA/2015/00/2018.2/IATA_OrderReshopRS"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DatedOperatingLegID" type="xs:string"/>
  <xs:element name="Dep">
    <xs:complexType>
      <xs:sequence>
        <xs:element ref="iata:AircraftScheduledDateTime" minOccurs="0" xmlns:iata="http://www.iata.org/IATA/2015/00/2018.2/IATA_OrderReshopRS"/>
        <xs:element ref="iata:IATALocationCode" xmlns:iata="http://www.iata.org/IATA/2015/00/2018.2/IATA_OrderReshopRS"/>
        <xs:element ref="iata:StationName" minOccurs="0" xmlns:iata="http://www.iata.org/IATA/2015/00/2018.2/IATA_OrderReshopRS"/>
        <xs:element ref="iata:TerminalName" minOccurs="0" xmlns:iata="http://www.iata.org/IATA/2015/00/2018.2/IATA_OrderReshopRS"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CarrierDesigCode" type="xs:string"/>
  <xs:element name="MarketingCarrierFlightNumberText" type="xs:string"/>
  <xs:element name="OperationalSuffixText" type="xs:string"/>
  <xs:element name="BinaryObject">
    <xs:complexType>
      <xs:simpleContent>
        <xs:extension base="xs:string">
          <xs:attribute type="xs:string" name="Format" use="optional"/>
          <xs:attribute type="xs:string" name="UniformResourceID" use="optional"/>
        </xs:extension>
      </xs:simpleContent>
    </xs:complexType>
  </xs:element>
  <xs:element name="MediaID">
    <xs:simpleType>
      <xs:restriction base="xs:string">
        <xs:enumeration value="8d10d392-960f-409d-9764-ba5f9fa3efe8"/>
        <xs:enumeration value="a2b78086-9ad9-4b1e-b62b-0db613bc6c3b"/>
        <xs:enumeration value="7a59a2fb-a87d-4727-bd04-dc8830e08d43"/>
      </xs:restriction>
    </xs:simpleType>
  </xs:element>
  <xs:element name="MediaObject">
    <xs:complexType>
      <xs:sequence>
        <xs:element ref="iata:BinaryObject" xmlns:iata="http://www.iata.org/IATA/2015/00/2018.2/IATA_OrderReshopRS"/>
        <xs:element ref="iata:DescText" xmlns:iata="http://www.iata.org/IATA/2015/00/2018.2/IATA_OrderReshopRS"/>
        <xs:element ref="iata:MediaID" xmlns:iata="http://www.iata.org/IATA/2015/00/2018.2/IATA_OrderReshopRS"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Desc">
    <xs:complexType mixed="true">
      <xs:sequence>
        <xs:element ref="iata:MediaObject" minOccurs="0" xmlns:iata="http://www.iata.org/IATA/2015/00/2018.2/IATA_OrderReshopRS"/>
        <xs:element ref="iata:DescText" minOccurs="0" xmlns:iata="http://www.iata.org/IATA/2015/00/2018.2/IATA_OrderReshopRS"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DisclosureID" type="xs:string"/>
  <xs:element name="Disclosure">
    <xs:complexType>
      <xs:sequence>
        <xs:element ref="iata:Desc" maxOccurs="unbounded" minOccurs="0" xmlns:iata="http://www.iata.org/IATA/2015/00/2018.2/IATA_OrderReshopRS"/>
        <xs:element ref="iata:DisclosureID" xmlns:iata="http://www.iata.org/IATA/2015/00/2018.2/IATA_OrderReshopRS"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="OperatingCarrierFlightNumberText" type="xs:string"/>
  <xs:element name="DatedOperatingLeg">
    <xs:complexType>
      <xs:sequence>
        <xs:element ref="iata:Arrival" xmlns:iata="http://www.iata.org/IATA/2015/00/2018.2/IATA_OrderReshopRS"/>
        <xs:element ref="iata:CarrierAircraftType" xmlns:iata="http://www.iata.org/IATA/2015/00/2018.2/IATA_OrderReshopRS"/>
        <xs:element ref="iata:DatedOperatingLegID" xmlns:iata="http://www.iata.org/IATA/2015/00/2018.2/IATA_OrderReshopRS"/>
        <xs:element ref="iata:Dep" xmlns:iata="http://www.iata.org/IATA/2015/00/2018.2/IATA_OrderReshopRS"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Duration" type="xs:string"/>
  <xs:element name="MarketingCarrierInfo">
    <xs:complexType>
      <xs:sequence>
        <xs:element ref="iata:CarrierDesigCode" xmlns:iata="http://www.iata.org/IATA/2015/00/2018.2/IATA_OrderReshopRS"/>
        <xs:element ref="iata:MarketingCarrierFlightNumberText" xmlns:iata="http://www.iata.org/IATA/2015/00/2018.2/IATA_OrderReshopRS"/>
        <xs:element ref="iata:OperationalSuffixText" xmlns:iata="http://www.iata.org/IATA/2015/00/2018.2/IATA_OrderReshopRS"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="OperatingCarrierInfo">
    <xs:complexType>
      <xs:sequence>
        <xs:element ref="iata:CarrierDesigCode" xmlns:iata="http://www.iata.org/IATA/2015/00/2018.2/IATA_OrderReshopRS"/>
        <xs:element ref="iata:Disclosure" xmlns:iata="http://www.iata.org/IATA/2015/00/2018.2/IATA_OrderReshopRS"/>
        <xs:element ref="iata:OperatingCarrierFlightNumberText" xmlns:iata="http://www.iata.org/IATA/2015/00/2018.2/IATA_OrderReshopRS"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="PaxSegmentID" type="xs:string"/>
  <xs:element name="PaxSegment">
    <xs:complexType>
      <xs:sequence>
        <xs:element ref="iata:Arrival" xmlns:iata="http://www.iata.org/IATA/2015/00/2018.2/IATA_OrderReshopRS"/>
        <xs:element ref="iata:DatedOperatingLeg" xmlns:iata="http://www.iata.org/IATA/2015/00/2018.2/IATA_OrderReshopRS"/>
        <xs:element ref="iata:Dep" xmlns:iata="http://www.iata.org/IATA/2015/00/2018.2/IATA_OrderReshopRS"/>
        <xs:element ref="iata:Duration" xmlns:iata="http://www.iata.org/IATA/2015/00/2018.2/IATA_OrderReshopRS"/>
        <xs:element ref="iata:MarketingCarrierInfo" xmlns:iata="http://www.iata.org/IATA/2015/00/2018.2/IATA_OrderReshopRS"/>
        <xs:element ref="iata:OperatingCarrierInfo" xmlns:iata="http://www.iata.org/IATA/2015/00/2018.2/IATA_OrderReshopRS"/>
        <xs:element ref="iata:PaxSegmentID" xmlns:iata="http://www.iata.org/IATA/2015/00/2018.2/IATA_OrderReshopRS"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CabinTypeCode">
    <xs:simpleType>
      <xs:restriction base="xs:string">
        <xs:enumeration value="B"/>
        <xs:enumeration value="J"/>
      </xs:restriction>
    </xs:simpleType>
  </xs:element>
  <xs:element name="CabinType">
    <xs:complexType>
      <xs:sequence>
        <xs:element ref="iata:CabinTypeCode" xmlns:iata="http://www.iata.org/IATA/2015/00/2018.2/IATA_OrderReshopRS"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Code">
    <xs:simpleType>
      <xs:restriction base="xs:string">
        <xs:enumeration value="COMMON_W"/>
        <xs:enumeration value="COMMON_F"/>
        <xs:enumeration value="COMMON_J"/>
        <xs:enumeration value="COMMON_U"/>
        <xs:enumeration value="SCW_D"/>
        <xs:enumeration value="XLYX"/>
        <xs:enumeration value="COMMON_Y"/>
        <xs:enumeration value="OTHER_KN"/>
        <xs:enumeration value="352"/>
      </xs:restriction>
    </xs:simpleType>
  </xs:element>
  <xs:element name="Name" type="xs:string"/>
  <xs:element name="PriceClassID">
    <xs:simpleType>
      <xs:restriction base="xs:string">
        <xs:enumeration value="10108"/>
        <xs:enumeration value="10109"/>
        <xs:enumeration value="10110"/>
        <xs:enumeration value="10111"/>
        <xs:enumeration value="10112"/>
        <xs:enumeration value="10113"/>
        <xs:enumeration value="10114"/>
        <xs:enumeration value="10035"/>
      </xs:restriction>
    </xs:simpleType>
  </xs:element>
  <xs:element name="PriceClass">
    <xs:complexType>
      <xs:sequence>
        <xs:element ref="iata:CabinType" minOccurs="0" xmlns:iata="http://www.iata.org/IATA/2015/00/2018.2/IATA_OrderReshopRS"/>
        <xs:element ref="iata:Code" xmlns:iata="http://www.iata.org/IATA/2015/00/2018.2/IATA_OrderReshopRS"/>
        <xs:element ref="iata:Desc" xmlns:iata="http://www.iata.org/IATA/2015/00/2018.2/IATA_OrderReshopRS"/>
        <xs:element ref="iata:Name" xmlns:iata="http://www.iata.org/IATA/2015/00/2018.2/IATA_OrderReshopRS"/>
        <xs:element ref="iata:PriceClassID" xmlns:iata="http://www.iata.org/IATA/2015/00/2018.2/IATA_OrderReshopRS"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ServiceCode">
    <xs:simpleType>
      <xs:restriction base="xs:string">
        <xs:enumeration value="S"/>
        <xs:enumeration value="D"/>
      </xs:restriction>
    </xs:simpleType>
  </xs:element>
  <xs:element name="ServiceDefinitionID">
    <xs:simpleType>
      <xs:restriction base="xs:string">
        <xs:enumeration value="MEAL_10046"/>
        <xs:enumeration value="WIFI_10047"/>
        <xs:enumeration value="BAGGAGE_10048"/>
        <xs:enumeration value="BAGGAGE_10104"/>
        <xs:enumeration value="SEAT_SALE_10049"/>
        <xs:enumeration value="SEAT_SALE_10051"/>
        <xs:enumeration value="SEAT_SALE_10054"/>
        <xs:enumeration value="MEAL_10061"/>
        <xs:enumeration value="SEAT_10152"/>
      </xs:restriction>
    </xs:simpleType>
  </xs:element>
  <xs:element name="BaggageAllowanceRefID">
    <xs:simpleType>
      <xs:restriction base="xs:string">
        <xs:enumeration value="10153"/>
        <xs:enumeration value="10468"/>
      </xs:restriction>
    </xs:simpleType>
  </xs:element>
  <xs:element name="ServiceDefinitionAssociation">
    <xs:complexType>
      <xs:sequence>
        <xs:element ref="iata:BaggageAllowanceRefID" minOccurs="0" xmlns:iata="http://www.iata.org/IATA/2015/00/2018.2/IATA_OrderReshopRS"/>
        <xs:element ref="iata:ServiceBundle" minOccurs="0" xmlns:iata="http://www.iata.org/IATA/2015/00/2018.2/IATA_OrderReshopRS"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="MaximumServiceQty">
    <xs:simpleType>
      <xs:restriction base="xs:string">
        <xs:enumeration value="7"/>
        <xs:enumeration value="5"/>
        <xs:enumeration value="10"/>
      </xs:restriction>
    </xs:simpleType>
  </xs:element>
  <xs:element name="ServiceDefinitionRefID">
    <xs:simpleType>
      <xs:restriction base="xs:string">
        <xs:enumeration value="SEAT_10152"/>
        <xs:enumeration value="MEAL_10046"/>
        <xs:enumeration value="WIFI_10047"/>
        <xs:enumeration value="BAGGAGE_10048"/>
        <xs:enumeration value="SEAT_SALE_10049"/>
        <xs:enumeration value="BAGGAGE_10104"/>
      </xs:restriction>
    </xs:simpleType>
  </xs:element>
  <xs:element name="ServiceBundle">
    <xs:complexType>
      <xs:sequence>
        <xs:element ref="iata:MaximumServiceQty" xmlns:iata="http://www.iata.org/IATA/2015/00/2018.2/IATA_OrderReshopRS"/>
        <xs:element ref="iata:ServiceDefinitionRefID" xmlns:iata="http://www.iata.org/IATA/2015/00/2018.2/IATA_OrderReshopRS"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ServiceDefinition">
    <xs:complexType>
      <xs:sequence>
        <xs:element ref="iata:Desc" xmlns:iata="http://www.iata.org/IATA/2015/00/2018.2/IATA_OrderReshopRS"/>
        <xs:element ref="iata:Name" xmlns:iata="http://www.iata.org/IATA/2015/00/2018.2/IATA_OrderReshopRS"/>
        <xs:element ref="iata:ServiceCode" minOccurs="0" xmlns:iata="http://www.iata.org/IATA/2015/00/2018.2/IATA_OrderReshopRS"/>
        <xs:element ref="iata:ServiceDefinitionAssociation" minOccurs="0" xmlns:iata="http://www.iata.org/IATA/2015/00/2018.2/IATA_OrderReshopRS"/>
        <xs:element ref="iata:ServiceDefinitionID" xmlns:iata="http://www.iata.org/IATA/2015/00/2018.2/IATA_OrderReshopRS"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="BaggageAllowanceList">
    <xs:complexType>
      <xs:sequence>
        <xs:element ref="iata:BaggageAllowance" maxOccurs="unbounded" minOccurs="0" xmlns:iata="http://www.iata.org/IATA/2015/00/2018.2/IATA_OrderReshopRS"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="OriginDestList">
    <xs:complexType>
      <xs:sequence>
        <xs:element ref="iata:OriginDest" xmlns:iata="http://www.iata.org/IATA/2015/00/2018.2/IATA_OrderReshopRS"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="PaxJourneyList">
    <xs:complexType>
      <xs:sequence>
        <xs:element ref="iata:PaxJourney" xmlns:iata="http://www.iata.org/IATA/2015/00/2018.2/IATA_OrderReshopRS"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="PaxList">
    <xs:complexType>
      <xs:sequence>
        <xs:element ref="iata:Pax" maxOccurs="unbounded" minOccurs="0" xmlns:iata="http://www.iata.org/IATA/2015/00/2018.2/IATA_OrderReshopRS"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="PaxSegmentList">
    <xs:complexType>
      <xs:sequence>
        <xs:element ref="iata:PaxSegment" xmlns:iata="http://www.iata.org/IATA/2015/00/2018.2/IATA_OrderReshopRS"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="PriceClassList">
    <xs:complexType>
      <xs:sequence>
        <xs:element ref="iata:PriceClass" maxOccurs="unbounded" minOccurs="0" xmlns:iata="http://www.iata.org/IATA/2015/00/2018.2/IATA_OrderReshopRS"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ServiceDefinitionList">
    <xs:complexType>
      <xs:sequence>
        <xs:element ref="iata:ServiceDefinition" maxOccurs="unbounded" minOccurs="0" xmlns:iata="http://www.iata.org/IATA/2015/00/2018.2/IATA_OrderReshopRS"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="TotalTaxAmount">
    <xs:complexType>
      <xs:simpleContent>
        <xs:extension base="xs:string">
          <xs:attribute type="xs:string" name="CurCode" use="optional"/>
        </xs:extension>
      </xs:simpleContent>
    </xs:complexType>
  </xs:element>
  <xs:element name="Amount">
    <xs:complexType>
      <xs:simpleContent>
        <xs:extension base="xs:string">
          <xs:attribute type="xs:string" name="CurCode" use="optional"/>
        </xs:extension>
      </xs:simpleContent>
    </xs:complexType>
  </xs:element>
  <xs:element name="TaxSummary">
    <xs:complexType>
      <xs:sequence>
        <xs:element ref="iata:ApproximateInd" minOccurs="0" xmlns:iata="http://www.iata.org/IATA/2015/00/2018.2/IATA_OrderReshopRS"/>
        <xs:element ref="iata:TotalTaxAmount" xmlns:iata="http://www.iata.org/IATA/2015/00/2018.2/IATA_OrderReshopRS"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AppCode" type="xs:string"/>
  <xs:element name="PenaltyAmount">
    <xs:complexType>
      <xs:simpleContent>
        <xs:extension base="xs:string">
          <xs:attribute type="xs:string" name="CurCode" use="optional"/>
        </xs:extension>
      </xs:simpleContent>
    </xs:complexType>
  </xs:element>
  <xs:element name="RemarkText">
    <xs:simpleType>
      <xs:restriction base="xs:string">
        <xs:enumeration value="{&quot;ei&quot;:&quot;Q/NON-END-RERPENALTYAPPLY&quot;,&quot;cabinAv&quot;:&quot;DEFABCMOHJKYX&quot;,&quot;timeFlag&quot;:0,&quot;noShowFlag&quot;:&quot;0&quot;,&quot;useFlag&quot;:&quot;0&quot;}"/>
        <xs:enumeration value="{&quot;ei&quot;:&quot;Q/NON-END-RERPENALTYAPPLY&quot;,&quot;cabinAv&quot;:&quot;DEFABCMOHJKYX&quot;,&quot;timeFlag&quot;:0,&quot;noShowFlag&quot;:&quot;0&quot;,&quot;useFlag&quot;:&quot;1&quot;}"/>
      </xs:restriction>
    </xs:simpleType>
  </xs:element>
  <xs:element name="Penalty">
    <xs:complexType>
      <xs:sequence>
        <xs:element ref="iata:AppCode" xmlns:iata="http://www.iata.org/IATA/2015/00/2018.2/IATA_OrderReshopRS"/>
        <xs:element ref="iata:DescText" xmlns:iata="http://www.iata.org/IATA/2015/00/2018.2/IATA_OrderReshopRS"/>
        <xs:element ref="iata:PenaltyAmount" xmlns:iata="http://www.iata.org/IATA/2015/00/2018.2/IATA_OrderReshopRS"/>
        <xs:element ref="iata:TypeCode" xmlns:iata="http://www.iata.org/IATA/2015/00/2018.2/IATA_OrderReshopRS"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Remark">
    <xs:complexType>
      <xs:sequence>
        <xs:element ref="iata:RemarkText" xmlns:iata="http://www.iata.org/IATA/2015/00/2018.2/IATA_OrderReshopRS"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RBDCode" type="xs:string"/>
  <xs:element name="FareBasisCode" type="xs:string"/>
  <xs:element name="FareRule">
    <xs:complexType>
      <xs:sequence>
        <xs:element ref="iata:Penalty" maxOccurs="unbounded" minOccurs="0" xmlns:iata="http://www.iata.org/IATA/2015/00/2018.2/IATA_OrderReshopRS"/>
        <xs:element ref="iata:Remark" xmlns:iata="http://www.iata.org/IATA/2015/00/2018.2/IATA_OrderReshopRS"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="PriceClassRefID" type="xs:string"/>
  <xs:element name="RBD">
    <xs:complexType>
      <xs:sequence>
        <xs:element ref="iata:RBDCode" xmlns:iata="http://www.iata.org/IATA/2015/00/2018.2/IATA_OrderReshopRS"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ApproximateInd" type="xs:string"/>
  <xs:element name="BaseAmount">
    <xs:complexType>
      <xs:simpleContent>
        <xs:extension base="xs:string">
          <xs:attribute type="xs:string" name="CurCode" use="optional"/>
        </xs:extension>
      </xs:simpleContent>
    </xs:complexType>
  </xs:element>
  <xs:element name="TotalAmount">
    <xs:complexType>
      <xs:simpleContent>
        <xs:extension base="xs:string">
          <xs:attribute type="xs:string" name="CurCode" use="optional"/>
        </xs:extension>
      </xs:simpleContent>
    </xs:complexType>
  </xs:element>
  <xs:element name="FarePriceTypeCode" type="xs:string"/>
  <xs:element name="Price">
    <xs:complexType>
      <xs:sequence>
        <xs:element ref="iata:BaseAmount" xmlns:iata="http://www.iata.org/IATA/2015/00/2018.2/IATA_OrderReshopRS"/>
        <xs:element ref="iata:TaxSummary" xmlns:iata="http://www.iata.org/IATA/2015/00/2018.2/IATA_OrderReshopRS"/>
        <xs:element ref="iata:TotalAmount" xmlns:iata="http://www.iata.org/IATA/2015/00/2018.2/IATA_OrderReshopRS"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="FareComponent">
    <xs:complexType>
      <xs:sequence>
        <xs:element ref="iata:CabinType" xmlns:iata="http://www.iata.org/IATA/2015/00/2018.2/IATA_OrderReshopRS"/>
        <xs:element ref="iata:FareBasisCode" xmlns:iata="http://www.iata.org/IATA/2015/00/2018.2/IATA_OrderReshopRS"/>
        <xs:element ref="iata:FareRule" maxOccurs="unbounded" minOccurs="0" xmlns:iata="http://www.iata.org/IATA/2015/00/2018.2/IATA_OrderReshopRS"/>
        <xs:element ref="iata:PaxSegmentRefID" xmlns:iata="http://www.iata.org/IATA/2015/00/2018.2/IATA_OrderReshopRS"/>
        <xs:element ref="iata:PriceClassRefID" xmlns:iata="http://www.iata.org/IATA/2015/00/2018.2/IATA_OrderReshopRS"/>
        <xs:element ref="iata:RBD" xmlns:iata="http://www.iata.org/IATA/2015/00/2018.2/IATA_OrderReshopRS"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="FareIndCode" type="xs:string"/>
  <xs:element name="FarePriceType">
    <xs:complexType>
      <xs:sequence>
        <xs:element ref="iata:FarePriceTypeCode" xmlns:iata="http://www.iata.org/IATA/2015/00/2018.2/IATA_OrderReshopRS"/>
        <xs:element ref="iata:Price" xmlns:iata="http://www.iata.org/IATA/2015/00/2018.2/IATA_OrderReshopRS"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="FareRefText" type="xs:string"/>
  <xs:element name="PaxRefID" type="xs:string"/>
  <xs:element name="PricingSystemCodeText" type="xs:string"/>
  <xs:element name="TourCode" type="xs:string"/>
  <xs:element name="ServiceDefinitionRef">
    <xs:complexType>
      <xs:sequence>
        <xs:element ref="iata:PaxSegmentRefID" xmlns:iata="http://www.iata.org/IATA/2015/00/2018.2/IATA_OrderReshopRS"/>
        <xs:element ref="iata:ServiceDefinitionRefID" xmlns:iata="http://www.iata.org/IATA/2015/00/2018.2/IATA_OrderReshopRS"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ServiceAssociations">
    <xs:complexType>
      <xs:sequence>
        <xs:element ref="iata:ServiceDefinitionRef" xmlns:iata="http://www.iata.org/IATA/2015/00/2018.2/IATA_OrderReshopRS"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ServiceID">
    <xs:simpleType>
      <xs:restriction base="xs:string">
        <xs:enumeration value="10194"/>
        <xs:enumeration value="10195"/>
        <xs:enumeration value="10196"/>
        <xs:enumeration value="10197"/>
        <xs:enumeration value="10099"/>
      </xs:restriction>
    </xs:simpleType>
  </xs:element>
  <xs:element name="DifferentialAmountDue">
    <xs:complexType>
      <xs:sequence>
        <xs:element ref="iata:Amount" xmlns:iata="http://www.iata.org/IATA/2015/00/2018.2/IATA_OrderReshopRS"/>
        <xs:element ref="iata:TaxSummary" xmlns:iata="http://www.iata.org/IATA/2015/00/2018.2/IATA_OrderReshopRS"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="FareDetail">
    <xs:complexType>
      <xs:sequence>
        <xs:element ref="iata:FareComponent" xmlns:iata="http://www.iata.org/IATA/2015/00/2018.2/IATA_OrderReshopRS"/>
        <xs:element ref="iata:FareIndCode" xmlns:iata="http://www.iata.org/IATA/2015/00/2018.2/IATA_OrderReshopRS"/>
        <xs:element ref="iata:FarePriceType" xmlns:iata="http://www.iata.org/IATA/2015/00/2018.2/IATA_OrderReshopRS"/>
        <xs:element ref="iata:FareRefText" xmlns:iata="http://www.iata.org/IATA/2015/00/2018.2/IATA_OrderReshopRS"/>
        <xs:element ref="iata:PaxRefID" xmlns:iata="http://www.iata.org/IATA/2015/00/2018.2/IATA_OrderReshopRS"/>
        <xs:element ref="iata:PricingSystemCodeText" xmlns:iata="http://www.iata.org/IATA/2015/00/2018.2/IATA_OrderReshopRS"/>
        <xs:element ref="iata:TourCode" xmlns:iata="http://www.iata.org/IATA/2015/00/2018.2/IATA_OrderReshopRS"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="NewOfferItemDifferential">
    <xs:complexType>
      <xs:sequence>
        <xs:element ref="iata:Amount" xmlns:iata="http://www.iata.org/IATA/2015/00/2018.2/IATA_OrderReshopRS"/>
        <xs:element ref="iata:TaxSummary" xmlns:iata="http://www.iata.org/IATA/2015/00/2018.2/IATA_OrderReshopRS"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="OfferItemID" type="xs:string"/>
  <xs:element name="OrderItemRefID" type="xs:string"/>
  <xs:element name="PenaltyDifferential">
    <xs:complexType>
      <xs:sequence>
        <xs:element ref="iata:Amount" xmlns:iata="http://www.iata.org/IATA/2015/00/2018.2/IATA_OrderReshopRS"/>
        <xs:element ref="iata:TaxSummary" xmlns:iata="http://www.iata.org/IATA/2015/00/2018.2/IATA_OrderReshopRS"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Service">
    <xs:complexType>
      <xs:sequence>
        <xs:element ref="iata:PaxRefID" xmlns:iata="http://www.iata.org/IATA/2015/00/2018.2/IATA_OrderReshopRS"/>
        <xs:element ref="iata:ServiceAssociations" xmlns:iata="http://www.iata.org/IATA/2015/00/2018.2/IATA_OrderReshopRS"/>
        <xs:element ref="iata:ServiceID" xmlns:iata="http://www.iata.org/IATA/2015/00/2018.2/IATA_OrderReshopRS"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="PTC_PricedCode" type="xs:string"/>
  <xs:element name="AddOfferItem">
    <xs:complexType>
      <xs:sequence>
        <xs:element ref="iata:DifferentialAmountDue" xmlns:iata="http://www.iata.org/IATA/2015/00/2018.2/IATA_OrderReshopRS"/>
        <xs:element ref="iata:FareDetail" xmlns:iata="http://www.iata.org/IATA/2015/00/2018.2/IATA_OrderReshopRS"/>
        <xs:element ref="iata:NewOfferItemDifferential" xmlns:iata="http://www.iata.org/IATA/2015/00/2018.2/IATA_OrderReshopRS"/>
        <xs:element ref="iata:OfferItemID" xmlns:iata="http://www.iata.org/IATA/2015/00/2018.2/IATA_OrderReshopRS"/>
        <xs:element ref="iata:OrderItemRefID" xmlns:iata="http://www.iata.org/IATA/2015/00/2018.2/IATA_OrderReshopRS"/>
        <xs:element ref="iata:PenaltyDifferential" xmlns:iata="http://www.iata.org/IATA/2015/00/2018.2/IATA_OrderReshopRS"/>
        <xs:element ref="iata:Price" xmlns:iata="http://www.iata.org/IATA/2015/00/2018.2/IATA_OrderReshopRS"/>
        <xs:element ref="iata:Service" maxOccurs="unbounded" minOccurs="0" xmlns:iata="http://www.iata.org/IATA/2015/00/2018.2/IATA_OrderReshopRS"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="OfferID" type="xs:string"/>
  <xs:element name="OwnerCode" type="xs:string"/>
  <xs:element name="OwnerTypeCode" type="xs:string"/>
  <xs:element name="PTC_OfferParameters">
    <xs:complexType>
      <xs:sequence>
        <xs:element ref="iata:PTC_PricedCode" xmlns:iata="http://www.iata.org/IATA/2015/00/2018.2/IATA_OrderReshopRS"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Offer">
    <xs:complexType>
      <xs:sequence>
        <xs:element ref="iata:AddOfferItem" xmlns:iata="http://www.iata.org/IATA/2015/00/2018.2/IATA_OrderReshopRS"/>
        <xs:element ref="iata:Desc" xmlns:iata="http://www.iata.org/IATA/2015/00/2018.2/IATA_OrderReshopRS"/>
        <xs:element ref="iata:OfferID" xmlns:iata="http://www.iata.org/IATA/2015/00/2018.2/IATA_OrderReshopRS"/>
        <xs:element ref="iata:OwnerCode" xmlns:iata="http://www.iata.org/IATA/2015/00/2018.2/IATA_OrderReshopRS"/>
        <xs:element ref="iata:OwnerTypeCode" xmlns:iata="http://www.iata.org/IATA/2015/00/2018.2/IATA_OrderReshopRS"/>
        <xs:element ref="iata:PTC_OfferParameters" xmlns:iata="http://www.iata.org/IATA/2015/00/2018.2/IATA_OrderReshopRS"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ReshopOffers">
    <xs:complexType>
      <xs:sequence>
        <xs:element ref="iata:Offer" xmlns:iata="http://www.iata.org/IATA/2015/00/2018.2/IATA_OrderReshopRS"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ShoppingResponseID" type="xs:string"/>
  <xs:element name="DataLists">
    <xs:complexType>
      <xs:sequence>
        <xs:element ref="iata:BaggageAllowanceList" xmlns:iata="http://www.iata.org/IATA/2015/00/2018.2/IATA_OrderReshopRS"/>
        <xs:element ref="iata:OriginDestList" xmlns:iata="http://www.iata.org/IATA/2015/00/2018.2/IATA_OrderReshopRS"/>
        <xs:element ref="iata:PaxJourneyList" xmlns:iata="http://www.iata.org/IATA/2015/00/2018.2/IATA_OrderReshopRS"/>
        <xs:element ref="iata:PaxList" xmlns:iata="http://www.iata.org/IATA/2015/00/2018.2/IATA_OrderReshopRS"/>
        <xs:element ref="iata:PaxSegmentList" xmlns:iata="http://www.iata.org/IATA/2015/00/2018.2/IATA_OrderReshopRS"/>
        <xs:element ref="iata:PriceClassList" xmlns:iata="http://www.iata.org/IATA/2015/00/2018.2/IATA_OrderReshopRS"/>
        <xs:element ref="iata:ServiceDefinitionList" xmlns:iata="http://www.iata.org/IATA/2015/00/2018.2/IATA_OrderReshopRS"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ReshopResults">
    <xs:complexType>
      <xs:sequence>
        <xs:element ref="iata:ReshopOffers" xmlns:iata="http://www.iata.org/IATA/2015/00/2018.2/IATA_OrderReshopRS"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ShoppingResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element ref="iata:OwnerCode" xmlns:iata="http://www.iata.org/IATA/2015/00/2018.2/IATA_OrderReshopRS"/>
        <xs:element ref="iata:ShoppingResponseID" xmlns:iata="http://www.iata.org/IATA/2015/00/2018.2/IATA_OrderReshopRS"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RefVersionNumber" type="xs:string"/>
  <xs:element name="AltLangID" type="xs:string"/>
  <xs:element name="CorrelationID" type="xs:string"/>
  <xs:element name="EchoTokenText" type="xs:string"/>
  <xs:element name="PrimaryLangID" type="xs:string"/>
  <xs:element name="RetransmissionInd" type="xs:string"/>
  <xs:element name="SeqNumber" type="xs:string"/>
  <xs:element name="Timestamp" type="xs:string"/>
  <xs:element name="TrxID" type="xs:string"/>
  <xs:element name="TrxStatusCode" type="xs:string"/>
  <xs:element name="VersionNumber" type="xs:string"/>
  <xs:element name="Response">
    <xs:complexType>
      <xs:sequence>
        <xs:element ref="iata:DataLists" xmlns:iata="http://www.iata.org/IATA/2015/00/2018.2/IATA_OrderReshopRS"/>
        <xs:element ref="iata:ReshopResults" xmlns:iata="http://www.iata.org/IATA/2015/00/2018.2/IATA_OrderReshopRS"/>
        <xs:element ref="iata:ShoppingResponse" xmlns:iata="http://www.iata.org/IATA/2015/00/2018.2/IATA_OrderReshopRS"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="MessageDoc">
    <xs:complexType>
      <xs:sequence>
        <xs:element ref="iata:Name" xmlns:iata="http://www.iata.org/IATA/2015/00/2018.2/IATA_OrderReshopRS"/>
        <xs:element ref="iata:RefVersionNumber" xmlns:iata="http://www.iata.org/IATA/2015/00/2018.2/IATA_OrderReshopRS"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="PayloadAttributes">
    <xs:complexType>
      <xs:sequence>
        <xs:element ref="iata:AltLangID" xmlns:iata="http://www.iata.org/IATA/2015/00/2018.2/IATA_OrderReshopRS"/>
        <xs:element ref="iata:CorrelationID" xmlns:iata="http://www.iata.org/IATA/2015/00/2018.2/IATA_OrderReshopRS"/>
        <xs:element ref="iata:EchoTokenText" xmlns:iata="http://www.iata.org/IATA/2015/00/2018.2/IATA_OrderReshopRS"/>
        <xs:element ref="iata:PrimaryLangID" xmlns:iata="http://www.iata.org/IATA/2015/00/2018.2/IATA_OrderReshopRS"/>
        <xs:element ref="iata:RetransmissionInd" xmlns:iata="http://www.iata.org/IATA/2015/00/2018.2/IATA_OrderReshopRS"/>
        <xs:element ref="iata:SeqNumber" xmlns:iata="http://www.iata.org/IATA/2015/00/2018.2/IATA_OrderReshopRS"/>
        <xs:element ref="iata:Timestamp" xmlns:iata="http://www.iata.org/IATA/2015/00/2018.2/IATA_OrderReshopRS"/>
        <xs:element ref="iata:TrxID" xmlns:iata="http://www.iata.org/IATA/2015/00/2018.2/IATA_OrderReshopRS"/>
        <xs:element ref="iata:TrxStatusCode" xmlns:iata="http://www.iata.org/IATA/2015/00/2018.2/IATA_OrderReshopRS"/>
        <xs:element ref="iata:VersionNumber" xmlns:iata="http://www.iata.org/IATA/2015/00/2018.2/IATA_OrderReshopRS"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Error">
    <xs:complexType>
      <xs:sequence>
        <xs:element ref="iata:Code" xmlns:iata="http://www.iata.org/IATA/2015/00/2018.2/IATA_OrderReshopRS"/>
        <xs:element ref="iata:DescText" xmlns:iata="http://www.iata.org/IATA/2015/00/2018.2/IATA_OrderReshopRS"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="IATA_OrderReshopRS">
    <xs:complexType>
      <xs:sequence>
        <xs:element ref="iata:Response" xmlns:iata="http://www.iata.org/IATA/2015/00/2018.2/IATA_OrderReshopRS"/>
        <xs:element ref="iata:MessageDoc" xmlns:iata="http://www.iata.org/IATA/2015/00/2018.2/IATA_OrderReshopRS"/>
        <xs:element ref="iata:PayloadAttributes" xmlns:iata="http://www.iata.org/IATA/2015/00/2018.2/IATA_OrderReshopRS"/>
        <xs:element ref="iata:Error" xmlns:iata="http://www.iata.org/IATA/2015/00/2018.2/IATA_OrderReshopRS"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>