src/main/java/com/ndc/channel/flight/xmlBean/verifyPrice/request/bean/verifyPrice_params.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" targetNamespace="http://www.iata.org/IATA/2015/00/2018.2/IATA_OfferPriceRQ" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="Name">
    <xs:simpleType>
      <xs:restriction base="xs:string">
        <xs:enumeration value="NDC_FLIGHT_OFFER_PRICE"/>
        <xs:enumeration value="测试"/>
        <xs:enumeration value="经济舱"/>
      </xs:restriction>
    </xs:simpleType>
  </xs:element>
  <xs:element name="RefVersionNumber" type="xs:string"/>
  <xs:element name="AirlineDesigCode" type="xs:string"/>
  <xs:element name="DuplicateDesigInd" type="xs:string"/>
  <xs:element name="MarketingCarrier">
    <xs:complexType>
      <xs:sequence>
        <xs:element ref="iata:AirlineDesigCode" xmlns:iata="http://www.iata.org/IATA/2015/00/2018.2/IATA_OfferPriceRQ"/>
        <xs:element ref="iata:DuplicateDesigInd" xmlns:iata="http://www.iata.org/IATA/2015/00/2018.2/IATA_OfferPriceRQ"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AgencyID" type="xs:string"/>
  <xs:element name="IATANumber" type="xs:string"/>
  <xs:element name="PseudoCityID" type="xs:string"/>
  <xs:element name="TypeCode" type="xs:string"/>
  <xs:element name="TravelAgency">
    <xs:complexType>
      <xs:sequence>
        <xs:element ref="iata:AgencyID" xmlns:iata="http://www.iata.org/IATA/2015/00/2018.2/IATA_OfferPriceRQ"/>
        <xs:element ref="iata:IATANumber" xmlns:iata="http://www.iata.org/IATA/2015/00/2018.2/IATA_OfferPriceRQ"/>
        <xs:element ref="iata:Name" xmlns:iata="http://www.iata.org/IATA/2015/00/2018.2/IATA_OfferPriceRQ"/>
        <xs:element ref="iata:PseudoCityID" xmlns:iata="http://www.iata.org/IATA/2015/00/2018.2/IATA_OfferPriceRQ"/>
        <xs:element ref="iata:TypeCode" xmlns:iata="http://www.iata.org/IATA/2015/00/2018.2/IATA_OfferPriceRQ"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Recipient">
    <xs:complexType>
      <xs:sequence>
        <xs:element ref="iata:MarketingCarrier" xmlns:iata="http://www.iata.org/IATA/2015/00/2018.2/IATA_OfferPriceRQ"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Sender">
    <xs:complexType>
      <xs:sequence>
        <xs:element ref="iata:TravelAgency" xmlns:iata="http://www.iata.org/IATA/2015/00/2018.2/IATA_OfferPriceRQ"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AltLangID" type="xs:string"/>
  <xs:element name="CorrelationID" type="xs:string"/>
  <xs:element name="EchoTokenText" type="xs:string"/>
  <xs:element name="PrimaryLangID" type="xs:string"/>
  <xs:element name="RetransmissionInd" type="xs:string"/>
  <xs:element name="SeqNumber" type="xs:string"/>
  <xs:element name="Timestamp" type="xs:string"/>
  <xs:element name="TrxID" type="xs:string"/>
  <xs:element name="TrxStatusCode" type="xs:string"/>
  <xs:element name="VersionNumber" type="xs:string"/>
  <xs:element name="DestCode" type="xs:string"/>
  <xs:element name="OriginCode" type="xs:string"/>
  <xs:element name="OriginDestID" type="xs:string"/>
  <xs:element name="PaxJourneyRefID" type="xs:string"/>
  <xs:element name="OriginDest">
    <xs:complexType>
      <xs:sequence>
        <xs:element ref="iata:DestCode" xmlns:iata="http://www.iata.org/IATA/2015/00/2018.2/IATA_OfferPriceRQ"/>
        <xs:element ref="iata:OriginCode" xmlns:iata="http://www.iata.org/IATA/2015/00/2018.2/IATA_OfferPriceRQ"/>
        <xs:element ref="iata:OriginDestID" xmlns:iata="http://www.iata.org/IATA/2015/00/2018.2/IATA_OfferPriceRQ"/>
        <xs:element ref="iata:PaxJourneyRefID" xmlns:iata="http://www.iata.org/IATA/2015/00/2018.2/IATA_OfferPriceRQ"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="PaxJourneyID" type="xs:string"/>
  <xs:element name="PaxSegmentRefID" type="xs:string"/>
  <xs:element name="PaxJourney">
    <xs:complexType>
      <xs:sequence>
        <xs:element ref="iata:PaxJourneyID" xmlns:iata="http://www.iata.org/IATA/2015/00/2018.2/IATA_OfferPriceRQ"/>
        <xs:element ref="iata:PaxSegmentRefID" xmlns:iata="http://www.iata.org/IATA/2015/00/2018.2/IATA_OfferPriceRQ"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AircraftScheduledDateTime">
    <xs:simpleType>
      <xs:restriction base="xs:string">
        <xs:enumeration value="2022-01-10T19:55:00.000+08:00"/>
        <xs:enumeration value="2022-01-10T16:55:00.000+08:00"/>
      </xs:restriction>
    </xs:simpleType>
  </xs:element>
  <xs:element name="IATALocationCode">
    <xs:simpleType>
      <xs:restriction base="xs:string">
        <xs:enumeration value="XIY"/>
        <xs:enumeration value="PVG"/>
      </xs:restriction>
    </xs:simpleType>
  </xs:element>
  <xs:element name="StationName">
    <xs:simpleType>
      <xs:restriction base="xs:string">
        <xs:enumeration value="咸阳机场"/>
        <xs:enumeration value="浦东国际机场"/>
      </xs:restriction>
    </xs:simpleType>
  </xs:element>
  <xs:element name="TerminalName">
    <xs:simpleType>
      <xs:restriction base="xs:string">
        <xs:enumeration value="T3"/>
        <xs:enumeration value="T1"/>
      </xs:restriction>
    </xs:simpleType>
  </xs:element>
  <xs:element name="CarrierAircraftTypeCode" type="xs:string"/>
  <xs:element name="CarrierAircraftTypeName" type="xs:string"/>
  <xs:element name="Arrival">
    <xs:complexType>
      <xs:sequence>
        <xs:element ref="iata:AircraftScheduledDateTime" minOccurs="0" xmlns:iata="http://www.iata.org/IATA/2015/00/2018.2/IATA_OfferPriceRQ"/>
        <xs:element ref="iata:IATALocationCode" xmlns:iata="http://www.iata.org/IATA/2015/00/2018.2/IATA_OfferPriceRQ"/>
        <xs:element ref="iata:StationName" minOccurs="0" xmlns:iata="http://www.iata.org/IATA/2015/00/2018.2/IATA_OfferPriceRQ"/>
        <xs:element ref="iata:TerminalName" minOccurs="0" xmlns:iata="http://www.iata.org/IATA/2015/00/2018.2/IATA_OfferPriceRQ"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CarrierAircraftType">
    <xs:complexType>
      <xs:sequence>
        <xs:element ref="iata:CarrierAircraftTypeCode" xmlns:iata="http://www.iata.org/IATA/2015/00/2018.2/IATA_OfferPriceRQ"/>
        <xs:element ref="iata:CarrierAircraftTypeName" xmlns:iata="http://www.iata.org/IATA/2015/00/2018.2/IATA_OfferPriceRQ"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DatedOperatingLegID" type="xs:string"/>
  <xs:element name="Dep">
    <xs:complexType>
      <xs:sequence>
        <xs:element ref="iata:AircraftScheduledDateTime" minOccurs="0" xmlns:iata="http://www.iata.org/IATA/2015/00/2018.2/IATA_OfferPriceRQ"/>
        <xs:element ref="iata:IATALocationCode" xmlns:iata="http://www.iata.org/IATA/2015/00/2018.2/IATA_OfferPriceRQ"/>
        <xs:element ref="iata:StationName" minOccurs="0" xmlns:iata="http://www.iata.org/IATA/2015/00/2018.2/IATA_OfferPriceRQ"/>
        <xs:element ref="iata:TerminalName" minOccurs="0" xmlns:iata="http://www.iata.org/IATA/2015/00/2018.2/IATA_OfferPriceRQ"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CarrierDesigCode" type="xs:string"/>
  <xs:element name="MarketingCarrierFlightNumberText" type="xs:string"/>
  <xs:element name="OperationalSuffixText" type="xs:string"/>
  <xs:element name="OperatingCarrierFlightNumberText" type="xs:string"/>
  <xs:element name="RBDCode" type="xs:string"/>
  <xs:element name="DatedOperatingLeg">
    <xs:complexType>
      <xs:sequence>
        <xs:element ref="iata:Arrival" xmlns:iata="http://www.iata.org/IATA/2015/00/2018.2/IATA_OfferPriceRQ"/>
        <xs:element ref="iata:CarrierAircraftType" xmlns:iata="http://www.iata.org/IATA/2015/00/2018.2/IATA_OfferPriceRQ"/>
        <xs:element ref="iata:DatedOperatingLegID" xmlns:iata="http://www.iata.org/IATA/2015/00/2018.2/IATA_OfferPriceRQ"/>
        <xs:element ref="iata:Dep" xmlns:iata="http://www.iata.org/IATA/2015/00/2018.2/IATA_OfferPriceRQ"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="MarketingCarrierInfo">
    <xs:complexType>
      <xs:sequence>
        <xs:element ref="iata:CarrierDesigCode" xmlns:iata="http://www.iata.org/IATA/2015/00/2018.2/IATA_OfferPriceRQ"/>
        <xs:element ref="iata:MarketingCarrierFlightNumberText" xmlns:iata="http://www.iata.org/IATA/2015/00/2018.2/IATA_OfferPriceRQ"/>
        <xs:element ref="iata:OperationalSuffixText" xmlns:iata="http://www.iata.org/IATA/2015/00/2018.2/IATA_OfferPriceRQ"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="OperatingCarrierInfo">
    <xs:complexType>
      <xs:sequence>
        <xs:element ref="iata:CarrierDesigCode" xmlns:iata="http://www.iata.org/IATA/2015/00/2018.2/IATA_OfferPriceRQ"/>
        <xs:element ref="iata:OperatingCarrierFlightNumberText" xmlns:iata="http://www.iata.org/IATA/2015/00/2018.2/IATA_OfferPriceRQ"/>
        <xs:element ref="iata:RBDCode" xmlns:iata="http://www.iata.org/IATA/2015/00/2018.2/IATA_OfferPriceRQ"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="PaxSegmentID" type="xs:string"/>
  <xs:element name="SecureFlightInd" type="xs:string"/>
  <xs:element name="PaxSegment">
    <xs:complexType>
      <xs:sequence>
        <xs:element ref="iata:Arrival" xmlns:iata="http://www.iata.org/IATA/2015/00/2018.2/IATA_OfferPriceRQ"/>
        <xs:element ref="iata:DatedOperatingLeg" xmlns:iata="http://www.iata.org/IATA/2015/00/2018.2/IATA_OfferPriceRQ"/>
        <xs:element ref="iata:Dep" xmlns:iata="http://www.iata.org/IATA/2015/00/2018.2/IATA_OfferPriceRQ"/>
        <xs:element ref="iata:MarketingCarrierInfo" xmlns:iata="http://www.iata.org/IATA/2015/00/2018.2/IATA_OfferPriceRQ"/>
        <xs:element ref="iata:OperatingCarrierInfo" xmlns:iata="http://www.iata.org/IATA/2015/00/2018.2/IATA_OfferPriceRQ"/>
        <xs:element ref="iata:PaxSegmentID" xmlns:iata="http://www.iata.org/IATA/2015/00/2018.2/IATA_OfferPriceRQ"/>
        <xs:element ref="iata:SecureFlightInd" xmlns:iata="http://www.iata.org/IATA/2015/00/2018.2/IATA_OfferPriceRQ"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DescText" type="xs:string"/>
  <xs:element name="Code" type="xs:string"/>
  <xs:element name="Desc">
    <xs:complexType>
      <xs:sequence>
        <xs:element ref="iata:DescText" xmlns:iata="http://www.iata.org/IATA/2015/00/2018.2/IATA_OfferPriceRQ"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="PriceClassID" type="xs:string"/>
  <xs:element name="PriceClass">
    <xs:complexType>
      <xs:sequence>
        <xs:element ref="iata:Code" xmlns:iata="http://www.iata.org/IATA/2015/00/2018.2/IATA_OfferPriceRQ"/>
        <xs:element ref="iata:Desc" xmlns:iata="http://www.iata.org/IATA/2015/00/2018.2/IATA_OfferPriceRQ"/>
        <xs:element ref="iata:Name" xmlns:iata="http://www.iata.org/IATA/2015/00/2018.2/IATA_OfferPriceRQ"/>
        <xs:element ref="iata:PriceClassID" xmlns:iata="http://www.iata.org/IATA/2015/00/2018.2/IATA_OfferPriceRQ"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="OriginDestList">
    <xs:complexType>
      <xs:sequence>
        <xs:element ref="iata:OriginDest" xmlns:iata="http://www.iata.org/IATA/2015/00/2018.2/IATA_OfferPriceRQ"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="PaxJourneyList">
    <xs:complexType>
      <xs:sequence>
        <xs:element ref="iata:PaxJourney" xmlns:iata="http://www.iata.org/IATA/2015/00/2018.2/IATA_OfferPriceRQ"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="PaxSegmentList">
    <xs:complexType>
      <xs:sequence>
        <xs:element ref="iata:PaxSegment" xmlns:iata="http://www.iata.org/IATA/2015/00/2018.2/IATA_OfferPriceRQ"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="PriceClassList">
    <xs:complexType>
      <xs:sequence>
        <xs:element ref="iata:PriceClass" xmlns:iata="http://www.iata.org/IATA/2015/00/2018.2/IATA_OfferPriceRQ"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="FareTypeCode" type="xs:string"/>
  <xs:element name="PriceClassRefID" type="xs:string"/>
  <xs:element name="FareComponent">
    <xs:complexType>
      <xs:sequence>
        <xs:element ref="iata:FareTypeCode" xmlns:iata="http://www.iata.org/IATA/2015/00/2018.2/IATA_OfferPriceRQ"/>
        <xs:element ref="iata:PaxSegmentRefID" xmlns:iata="http://www.iata.org/IATA/2015/00/2018.2/IATA_OfferPriceRQ"/>
        <xs:element ref="iata:PriceClassRefID" xmlns:iata="http://www.iata.org/IATA/2015/00/2018.2/IATA_OfferPriceRQ"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="PricingSystemCodeText" type="xs:string"/>
  <xs:element name="FareDetail">
    <xs:complexType>
      <xs:sequence>
        <xs:element ref="iata:FareComponent" xmlns:iata="http://www.iata.org/IATA/2015/00/2018.2/IATA_OfferPriceRQ"/>
        <xs:element ref="iata:PricingSystemCodeText" xmlns:iata="http://www.iata.org/IATA/2015/00/2018.2/IATA_OfferPriceRQ"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="OriginDestRefID" type="xs:string"/>
  <xs:element name="FlightItem">
    <xs:complexType>
      <xs:sequence>
        <xs:element ref="iata:FareDetail" xmlns:iata="http://www.iata.org/IATA/2015/00/2018.2/IATA_OfferPriceRQ"/>
        <xs:element ref="iata:OriginDestRefID" xmlns:iata="http://www.iata.org/IATA/2015/00/2018.2/IATA_OfferPriceRQ"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="OfferItemID" type="xs:string"/>
  <xs:element name="OfferItemType">
    <xs:complexType>
      <xs:sequence>
        <xs:element ref="iata:FlightItem" xmlns:iata="http://www.iata.org/IATA/2015/00/2018.2/IATA_OfferPriceRQ"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CreateOrderItem">
    <xs:complexType>
      <xs:sequence>
        <xs:element ref="iata:OfferItemID" xmlns:iata="http://www.iata.org/IATA/2015/00/2018.2/IATA_OfferPriceRQ"/>
        <xs:element ref="iata:OfferItemType" xmlns:iata="http://www.iata.org/IATA/2015/00/2018.2/IATA_OfferPriceRQ"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DataLists">
    <xs:complexType>
      <xs:sequence>
        <xs:element ref="iata:OriginDestList" xmlns:iata="http://www.iata.org/IATA/2015/00/2018.2/IATA_OfferPriceRQ"/>
        <xs:element ref="iata:PaxJourneyList" xmlns:iata="http://www.iata.org/IATA/2015/00/2018.2/IATA_OfferPriceRQ"/>
        <xs:element ref="iata:PaxSegmentList" xmlns:iata="http://www.iata.org/IATA/2015/00/2018.2/IATA_OfferPriceRQ"/>
        <xs:element ref="iata:PriceClassList" xmlns:iata="http://www.iata.org/IATA/2015/00/2018.2/IATA_OfferPriceRQ"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="PricedOffer">
    <xs:complexType>
      <xs:sequence>
        <xs:element ref="iata:CreateOrderItem" xmlns:iata="http://www.iata.org/IATA/2015/00/2018.2/IATA_OfferPriceRQ"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="MessageDoc">
    <xs:complexType>
      <xs:sequence>
        <xs:element ref="iata:Name" xmlns:iata="http://www.iata.org/IATA/2015/00/2018.2/IATA_OfferPriceRQ"/>
        <xs:element ref="iata:RefVersionNumber" xmlns:iata="http://www.iata.org/IATA/2015/00/2018.2/IATA_OfferPriceRQ"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Party">
    <xs:complexType>
      <xs:sequence>
        <xs:element ref="iata:Recipient" xmlns:iata="http://www.iata.org/IATA/2015/00/2018.2/IATA_OfferPriceRQ"/>
        <xs:element ref="iata:Sender" xmlns:iata="http://www.iata.org/IATA/2015/00/2018.2/IATA_OfferPriceRQ"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="PayloadAttributes">
    <xs:complexType>
      <xs:sequence>
        <xs:element ref="iata:AltLangID" xmlns:iata="http://www.iata.org/IATA/2015/00/2018.2/IATA_OfferPriceRQ"/>
        <xs:element ref="iata:CorrelationID" xmlns:iata="http://www.iata.org/IATA/2015/00/2018.2/IATA_OfferPriceRQ"/>
        <xs:element ref="iata:EchoTokenText" xmlns:iata="http://www.iata.org/IATA/2015/00/2018.2/IATA_OfferPriceRQ"/>
        <xs:element ref="iata:PrimaryLangID" xmlns:iata="http://www.iata.org/IATA/2015/00/2018.2/IATA_OfferPriceRQ"/>
        <xs:element ref="iata:RetransmissionInd" xmlns:iata="http://www.iata.org/IATA/2015/00/2018.2/IATA_OfferPriceRQ"/>
        <xs:element ref="iata:SeqNumber" xmlns:iata="http://www.iata.org/IATA/2015/00/2018.2/IATA_OfferPriceRQ"/>
        <xs:element ref="iata:Timestamp" xmlns:iata="http://www.iata.org/IATA/2015/00/2018.2/IATA_OfferPriceRQ"/>
        <xs:element ref="iata:TrxID" xmlns:iata="http://www.iata.org/IATA/2015/00/2018.2/IATA_OfferPriceRQ"/>
        <xs:element ref="iata:TrxStatusCode" xmlns:iata="http://www.iata.org/IATA/2015/00/2018.2/IATA_OfferPriceRQ"/>
        <xs:element ref="iata:VersionNumber" xmlns:iata="http://www.iata.org/IATA/2015/00/2018.2/IATA_OfferPriceRQ"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Request">
    <xs:complexType>
      <xs:sequence>
        <xs:element ref="iata:DataLists" xmlns:iata="http://www.iata.org/IATA/2015/00/2018.2/IATA_OfferPriceRQ"/>
        <xs:element ref="iata:PricedOffer" xmlns:iata="http://www.iata.org/IATA/2015/00/2018.2/IATA_OfferPriceRQ"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="IATA_OfferPriceRQ">
    <xs:complexType>
      <xs:sequence>
        <xs:element ref="iata:MessageDoc" xmlns:iata="http://www.iata.org/IATA/2015/00/2018.2/IATA_OfferPriceRQ"/>
        <xs:element ref="iata:Party" xmlns:iata="http://www.iata.org/IATA/2015/00/2018.2/IATA_OfferPriceRQ"/>
        <xs:element ref="iata:PayloadAttributes" xmlns:iata="http://www.iata.org/IATA/2015/00/2018.2/IATA_OfferPriceRQ"/>
        <xs:element ref="iata:Request" xmlns:iata="http://www.iata.org/IATA/2015/00/2018.2/IATA_OfferPriceRQ"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>