src/main/java/com/ndc/channel/flight/xmlBean/orderPay/request/xml/orderPay_req.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" targetNamespace="http://www.iata.org/IATA/2015/00/2018.2/IATA_OrderChangeRQ" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="Name">
    <xs:simpleType>
      <xs:restriction base="xs:string">
        <xs:enumeration value="NDC_FLIGHT_ORDER_PAYMENT"/>
        <xs:enumeration value="测试"/>
        <xs:enumeration value="INFIN-2"/>
      </xs:restriction>
    </xs:simpleType>
  </xs:element>
  <xs:element name="RefVersionNumber" type="xs:string"/>
  <xs:element name="AggregatorID" type="xs:string"/>
  <xs:element name="ContactInfoRefID" type="xs:string"/>
  <xs:element name="AgencyID">
    <xs:simpleType>
      <xs:restriction base="xs:string">
        <xs:enumeration value="2011191455"/>
        <xs:enumeration value="10000"/>
      </xs:restriction>
    </xs:simpleType>
  </xs:element>
  <xs:element name="TypeCode">
    <xs:simpleType>
      <xs:restriction base="xs:string">
        <xs:enumeration value="GlobalDistributionSystem"/>
        <xs:enumeration value="OnlineTravelAgency"/>
        <xs:enumeration value="PT"/>
      </xs:restriction>
    </xs:simpleType>
  </xs:element>
  <xs:element name="TravelAgency">
    <xs:complexType>
      <xs:sequence>
        <xs:element ref="iata:AgencyID" xmlns:iata="http://www.iata.org/IATA/2015/00/2018.2/IATA_OrderChangeRQ"/>
        <xs:element ref="iata:IATANumber" minOccurs="0" xmlns:iata="http://www.iata.org/IATA/2015/00/2018.2/IATA_OrderChangeRQ"/>
        <xs:element ref="iata:Name" xmlns:iata="http://www.iata.org/IATA/2015/00/2018.2/IATA_OrderChangeRQ"/>
        <xs:element ref="iata:TravelAgent" minOccurs="0" xmlns:iata="http://www.iata.org/IATA/2015/00/2018.2/IATA_OrderChangeRQ"/>
        <xs:element ref="iata:PseudoCityID" minOccurs="0" xmlns:iata="http://www.iata.org/IATA/2015/00/2018.2/IATA_OrderChangeRQ"/>
        <xs:element ref="iata:TypeCode" xmlns:iata="http://www.iata.org/IATA/2015/00/2018.2/IATA_OrderChangeRQ"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AirlineDesigCode" type="xs:string"/>
  <xs:element name="DuplicateDesigInd" type="xs:string"/>
  <xs:element name="MarketingCarrier">
    <xs:complexType>
      <xs:sequence>
        <xs:element ref="iata:AirlineDesigCode" xmlns:iata="http://www.iata.org/IATA/2015/00/2018.2/IATA_OrderChangeRQ"/>
        <xs:element ref="iata:DuplicateDesigInd" xmlns:iata="http://www.iata.org/IATA/2015/00/2018.2/IATA_OrderChangeRQ"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="TravelAgentID" type="xs:string"/>
  <xs:element name="IATANumber" type="xs:string"/>
  <xs:element name="TravelAgent">
    <xs:complexType>
      <xs:sequence>
        <xs:element ref="iata:TravelAgentID" xmlns:iata="http://www.iata.org/IATA/2015/00/2018.2/IATA_OrderChangeRQ"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="PseudoCityID" type="xs:string"/>
  <xs:element name="Aggregator">
    <xs:complexType>
      <xs:sequence>
        <xs:element ref="iata:AggregatorID" xmlns:iata="http://www.iata.org/IATA/2015/00/2018.2/IATA_OrderChangeRQ"/>
        <xs:element ref="iata:Name" xmlns:iata="http://www.iata.org/IATA/2015/00/2018.2/IATA_OrderChangeRQ"/>
        <xs:element ref="iata:ContactInfoRefID" xmlns:iata="http://www.iata.org/IATA/2015/00/2018.2/IATA_OrderChangeRQ"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Participant">
    <xs:complexType>
      <xs:sequence>
        <xs:element ref="iata:TravelAgency" xmlns:iata="http://www.iata.org/IATA/2015/00/2018.2/IATA_OrderChangeRQ"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Recipient">
    <xs:complexType>
      <xs:sequence>
        <xs:element ref="iata:MarketingCarrier" xmlns:iata="http://www.iata.org/IATA/2015/00/2018.2/IATA_OrderChangeRQ"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Sender">
    <xs:complexType>
      <xs:sequence>
        <xs:element ref="iata:Aggregator" xmlns:iata="http://www.iata.org/IATA/2015/00/2018.2/IATA_OrderChangeRQ"/>
        <xs:element ref="iata:TravelAgency" xmlns:iata="http://www.iata.org/IATA/2015/00/2018.2/IATA_OrderChangeRQ"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AltLangID" type="xs:string"/>
  <xs:element name="CorrelationID" type="xs:string"/>
  <xs:element name="EchoTokenText" type="xs:string"/>
  <xs:element name="PrimaryLangID" type="xs:string"/>
  <xs:element name="RetransmissionInd" type="xs:string"/>
  <xs:element name="SeqNumber" type="xs:string"/>
  <xs:element name="Timestamp" type="xs:string"/>
  <xs:element name="TrxID" type="xs:string"/>
  <xs:element name="TrxStatusCode" type="xs:string"/>
  <xs:element name="VersionNumber" type="xs:string"/>
  <xs:element name="OrderID" type="xs:string"/>
  <xs:element name="OwnerCode" type="xs:string"/>
  <xs:element name="OwnerTypeCode" type="xs:string"/>
  <xs:element name="AccountTypeText" type="xs:string"/>
  <xs:element name="BankAccountID" type="xs:string"/>
  <xs:element name="BankTransfer">
    <xs:complexType>
      <xs:sequence>
        <xs:element ref="iata:AccountTypeText" xmlns:iata="http://www.iata.org/IATA/2015/00/2018.2/IATA_OrderChangeRQ"/>
        <xs:element ref="iata:BankAccountID" xmlns:iata="http://www.iata.org/IATA/2015/00/2018.2/IATA_OrderChangeRQ"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Amount">
    <xs:complexType>
      <xs:simpleContent>
        <xs:extension base="xs:string">
          <xs:attribute type="xs:string" name="CurCode"/>
        </xs:extension>
      </xs:simpleContent>
    </xs:complexType>
  </xs:element>
  <xs:element name="OrderItemRefID" type="xs:string"/>
  <xs:element name="PaymentInfoID" type="xs:string"/>
  <xs:element name="PaymentMethod">
    <xs:complexType>
      <xs:sequence>
        <xs:element ref="iata:BankTransfer" xmlns:iata="http://www.iata.org/IATA/2015/00/2018.2/IATA_OrderChangeRQ"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Order">
    <xs:complexType>
      <xs:sequence>
        <xs:element ref="iata:OrderID" xmlns:iata="http://www.iata.org/IATA/2015/00/2018.2/IATA_OrderChangeRQ"/>
        <xs:element ref="iata:OwnerCode" xmlns:iata="http://www.iata.org/IATA/2015/00/2018.2/IATA_OrderChangeRQ"/>
        <xs:element ref="iata:OwnerTypeCode" xmlns:iata="http://www.iata.org/IATA/2015/00/2018.2/IATA_OrderChangeRQ"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="PaymentInfo">
    <xs:complexType>
      <xs:sequence>
        <xs:element ref="iata:Amount" xmlns:iata="http://www.iata.org/IATA/2015/00/2018.2/IATA_OrderChangeRQ"/>
        <xs:element ref="iata:OrderItemRefID" xmlns:iata="http://www.iata.org/IATA/2015/00/2018.2/IATA_OrderChangeRQ"/>
        <xs:element ref="iata:PaymentInfoID" xmlns:iata="http://www.iata.org/IATA/2015/00/2018.2/IATA_OrderChangeRQ"/>
        <xs:element ref="iata:PaymentMethod" xmlns:iata="http://www.iata.org/IATA/2015/00/2018.2/IATA_OrderChangeRQ"/>
        <xs:element ref="iata:TypeCode" xmlns:iata="http://www.iata.org/IATA/2015/00/2018.2/IATA_OrderChangeRQ"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="MessageDoc">
    <xs:complexType>
      <xs:sequence>
        <xs:element ref="iata:Name" xmlns:iata="http://www.iata.org/IATA/2015/00/2018.2/IATA_OrderChangeRQ"/>
        <xs:element ref="iata:RefVersionNumber" xmlns:iata="http://www.iata.org/IATA/2015/00/2018.2/IATA_OrderChangeRQ"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Party">
    <xs:complexType>
      <xs:sequence>
        <xs:element ref="iata:Aggregator" xmlns:iata="http://www.iata.org/IATA/2015/00/2018.2/IATA_OrderChangeRQ"/>
        <xs:element ref="iata:Participant" xmlns:iata="http://www.iata.org/IATA/2015/00/2018.2/IATA_OrderChangeRQ"/>
        <xs:element ref="iata:Recipient" xmlns:iata="http://www.iata.org/IATA/2015/00/2018.2/IATA_OrderChangeRQ"/>
        <xs:element ref="iata:Sender" xmlns:iata="http://www.iata.org/IATA/2015/00/2018.2/IATA_OrderChangeRQ"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="PayloadAttributes">
    <xs:complexType>
      <xs:sequence>
        <xs:element ref="iata:AltLangID" xmlns:iata="http://www.iata.org/IATA/2015/00/2018.2/IATA_OrderChangeRQ"/>
        <xs:element ref="iata:CorrelationID" xmlns:iata="http://www.iata.org/IATA/2015/00/2018.2/IATA_OrderChangeRQ"/>
        <xs:element ref="iata:EchoTokenText" xmlns:iata="http://www.iata.org/IATA/2015/00/2018.2/IATA_OrderChangeRQ"/>
        <xs:element ref="iata:PrimaryLangID" xmlns:iata="http://www.iata.org/IATA/2015/00/2018.2/IATA_OrderChangeRQ"/>
        <xs:element ref="iata:RetransmissionInd" xmlns:iata="http://www.iata.org/IATA/2015/00/2018.2/IATA_OrderChangeRQ"/>
        <xs:element ref="iata:SeqNumber" xmlns:iata="http://www.iata.org/IATA/2015/00/2018.2/IATA_OrderChangeRQ"/>
        <xs:element ref="iata:Timestamp" xmlns:iata="http://www.iata.org/IATA/2015/00/2018.2/IATA_OrderChangeRQ"/>
        <xs:element ref="iata:TrxID" xmlns:iata="http://www.iata.org/IATA/2015/00/2018.2/IATA_OrderChangeRQ"/>
        <xs:element ref="iata:TrxStatusCode" xmlns:iata="http://www.iata.org/IATA/2015/00/2018.2/IATA_OrderChangeRQ"/>
        <xs:element ref="iata:VersionNumber" xmlns:iata="http://www.iata.org/IATA/2015/00/2018.2/IATA_OrderChangeRQ"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Request">
    <xs:complexType>
      <xs:sequence>
        <xs:element ref="iata:Order" xmlns:iata="http://www.iata.org/IATA/2015/00/2018.2/IATA_OrderChangeRQ"/>
        <xs:element ref="iata:PaymentInfo" xmlns:iata="http://www.iata.org/IATA/2015/00/2018.2/IATA_OrderChangeRQ"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="IATA_OrderChangeRQ">
    <xs:complexType>
      <xs:sequence>
        <xs:element ref="iata:MessageDoc" xmlns:iata="http://www.iata.org/IATA/2015/00/2018.2/IATA_OrderChangeRQ"/>
        <xs:element ref="iata:Party" xmlns:iata="http://www.iata.org/IATA/2015/00/2018.2/IATA_OrderChangeRQ"/>
        <xs:element ref="iata:PayloadAttributes" xmlns:iata="http://www.iata.org/IATA/2015/00/2018.2/IATA_OrderChangeRQ"/>
        <xs:element ref="iata:Request" xmlns:iata="http://www.iata.org/IATA/2015/00/2018.2/IATA_OrderChangeRQ"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>