src/main/java/com/ndc/channel/flight/xmlBean/orderDetail/response/bean/resp_params.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" targetNamespace="http://www.iata.org/IATA/2015/00/2018.2/IATA_OrderViewRS" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="Code" type="xs:string"/>
  <xs:element name="DescText">
    <xs:simpleType>
      <xs:restriction base="xs:string">
        <xs:enumeration value="Received from data invalid"/>
        <xs:enumeration value="{&quot;rightDefinitionList&quot;:[{&quot;rightCode&quot;:&quot;seat_space_flag&quot;,&quot;rightDesc&quot;:&quot;座位空间&quot;},{&quot;rightCode&quot;:&quot;bug_trans_flag&quot;,&quot;rightDesc&quot;:&quot;行李收运&quot;},{&quot;rightCode&quot;:&quot;check_flag&quot;,&quot;rightDesc&quot;:&quot;值机柜台&quot;},{&quot;rightCode&quot;:&quot;up_pro_flag&quot;,&quot;rightDesc&quot;:&quot;品牌升级标记&quot;},{&quot;rightCode&quot;:&quot;wifi_flag&quot;,&quot;rightDesc&quot;:&quot;WIFI标记&quot;},{&quot;rightCode&quot;:&quot;board_flag&quot;,&quot;rightDesc&quot;:&quot;座位空间&quot;},{&quot;rightCode&quot;:&quot;hand_bag_flag&quot;,&quot;rightDesc&quot;:&quot;手提信息标记&quot;},{&quot;rightCode&quot;:&quot;per_seat_flag&quot;,&quot;rightLevel&quot;:&quot;0&quot;,&quot;rightDesc&quot;:&quot;预选座位标记&quot;},{&quot;rightCode&quot;:&quot;free_bag_flag&quot;,&quot;rightLevel&quot;:&quot;1&quot;,&quot;rightDesc&quot;:&quot;托运行李标记&quot;},{&quot;rightCode&quot;:&quot;ref_flag&quot;,&quot;rightLevel&quot;:&quot;1&quot;,&quot;rightDesc&quot;:&quot;退票标记&quot;},{&quot;rightCode&quot;:&quot;chg_flag&quot;,&quot;rightLevel&quot;:&quot;0&quot;,&quot;rightDesc&quot;:&quot;改期类型&quot;},{&quot;rightCode&quot;:&quot;upg_flag&quot;,&quot;rightLevel&quot;:&quot;1&quot;,&quot;rightDesc&quot;:&quot;升舱&quot;}]}"/>
        <xs:enumeration value="{&quot;airOrderType&quot;:&quot;1&quot;,&quot;changeable&quot;:false}"/>
        <xs:enumeration value="机场建设费"/>
      </xs:restriction>
    </xs:simpleType>
  </xs:element>
  <xs:element name="ApplicablePartyText" type="xs:string"/>
  <xs:element name="TotalQty" type="xs:string"/>
  <xs:element name="BaggageAllowanceID">
    <xs:simpleType>
      <xs:restriction base="xs:string">
        <xs:enumeration value="6e4751d96f514a928041c116c685b0be"/>
        <xs:enumeration value="079a3e034168454e9e776acd3e72c921"/>
        <xs:enumeration value="784c6d591d82460e985c465977798068"/>
      </xs:restriction>
    </xs:simpleType>
  </xs:element>
  <xs:element name="PieceAllowance">
    <xs:complexType>
      <xs:sequence>
        <xs:element ref="iata:ApplicablePartyText" xmlns:iata="http://www.iata.org/IATA/2015/00/2018.2/IATA_OrderViewRS"/>
        <xs:element ref="iata:TotalQty" xmlns:iata="http://www.iata.org/IATA/2015/00/2018.2/IATA_OrderViewRS"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="TypeCode">
    <xs:simpleType>
      <xs:restriction base="xs:string">
        <xs:enumeration value="Checked"/>
        <xs:enumeration value="PT"/>
      </xs:restriction>
    </xs:simpleType>
  </xs:element>
  <xs:element name="MaximumWeightMeasure">
    <xs:complexType>
      <xs:simpleContent>
        <xs:extension base="xs:string">
          <xs:attribute type="xs:string" name="UnitCode" use="optional"/>
        </xs:extension>
      </xs:simpleContent>
    </xs:complexType>
  </xs:element>
  <xs:element name="WeightAllowance">
    <xs:complexType>
      <xs:sequence>
        <xs:element ref="iata:ApplicablePartyText" xmlns:iata="http://www.iata.org/IATA/2015/00/2018.2/IATA_OrderViewRS"/>
        <xs:element ref="iata:MaximumWeightMeasure" xmlns:iata="http://www.iata.org/IATA/2015/00/2018.2/IATA_OrderViewRS"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="BaggageAllowance">
    <xs:complexType>
      <xs:sequence>
        <xs:element ref="iata:BaggageAllowanceID" xmlns:iata="http://www.iata.org/IATA/2015/00/2018.2/IATA_OrderViewRS"/>
        <xs:element ref="iata:PieceAllowance" minOccurs="0" xmlns:iata="http://www.iata.org/IATA/2015/00/2018.2/IATA_OrderViewRS"/>
        <xs:element ref="iata:TypeCode" xmlns:iata="http://www.iata.org/IATA/2015/00/2018.2/IATA_OrderViewRS"/>
        <xs:element ref="iata:WeightAllowance" minOccurs="0" xmlns:iata="http://www.iata.org/IATA/2015/00/2018.2/IATA_OrderViewRS"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="EmailAddressText" type="xs:string"/>
  <xs:element name="IndividualID">
    <xs:simpleType>
      <xs:restriction base="xs:string">
        <xs:enumeration value="f66c28b4a8bb47019cb813d09a07b0db"/>
        <xs:enumeration value="be81ff2364ea4a5ca2d82a78b9501bbe"/>
      </xs:restriction>
    </xs:simpleType>
  </xs:element>
  <xs:element name="Surname" type="xs:string"/>
  <xs:element name="CountryDialingCode">
    <xs:simpleType>
      <xs:restriction base="xs:string">
        <xs:enumeration value="86"/>
        <xs:enumeration value="01"/>
      </xs:restriction>
    </xs:simpleType>
  </xs:element>
  <xs:element name="PhoneNumber">
    <xs:simpleType>
      <xs:restriction base="xs:string">
        <xs:enumeration value="18100000000"/>
        <xs:enumeration value="18100000001"/>
        <xs:enumeration value="18100000002"/>
      </xs:restriction>
    </xs:simpleType>
  </xs:element>
  <xs:element name="ContactInfoID">
    <xs:simpleType>
      <xs:restriction base="xs:string">
        <xs:enumeration value="1119052900025580"/>
        <xs:enumeration value="20004835"/>
        <xs:enumeration value="1120021700058055198165659"/>
      </xs:restriction>
    </xs:simpleType>
  </xs:element>
  <xs:element name="ContactTypeText">
    <xs:simpleType>
      <xs:restriction base="xs:string">
        <xs:enumeration value="PRIMARY"/>
        <xs:enumeration value="PAX"/>
        <xs:enumeration value="TRAVEL_AGENCY"/>
      </xs:restriction>
    </xs:simpleType>
  </xs:element>
  <xs:element name="EmailAddress">
    <xs:complexType>
      <xs:sequence>
        <xs:element ref="iata:EmailAddressText" xmlns:iata="http://www.iata.org/IATA/2015/00/2018.2/IATA_OrderViewRS"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Individual">
    <xs:complexType>
      <xs:sequence>
        <xs:element ref="iata:IndividualID" xmlns:iata="http://www.iata.org/IATA/2015/00/2018.2/IATA_OrderViewRS"/>
        <xs:element ref="iata:Surname" xmlns:iata="http://www.iata.org/IATA/2015/00/2018.2/IATA_OrderViewRS"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Phone">
    <xs:complexType>
      <xs:sequence>
        <xs:element ref="iata:CountryDialingCode" minOccurs="0" xmlns:iata="http://www.iata.org/IATA/2015/00/2018.2/IATA_OrderViewRS"/>
        <xs:element ref="iata:PhoneNumber" xmlns:iata="http://www.iata.org/IATA/2015/00/2018.2/IATA_OrderViewRS"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CityName" type="xs:string"/>
  <xs:element name="CountryCode" type="xs:string"/>
  <xs:element name="CountrySubDivisionName" type="xs:string"/>
  <xs:element name="LabelText">
    <xs:simpleType>
      <xs:restriction base="xs:string">
        <xs:enumeration value="PaxAddressAtDestination"/>
        <xs:enumeration value="PaxResidentialAddressAtDestination"/>
      </xs:restriction>
    </xs:simpleType>
  </xs:element>
  <xs:element name="PostalCode" type="xs:string"/>
  <xs:element name="StreetText" type="xs:string"/>
  <xs:element name="PostalAddress">
    <xs:complexType>
      <xs:sequence>
        <xs:element ref="iata:CityName" xmlns:iata="http://www.iata.org/IATA/2015/00/2018.2/IATA_OrderViewRS"/>
        <xs:element ref="iata:CountryCode" xmlns:iata="http://www.iata.org/IATA/2015/00/2018.2/IATA_OrderViewRS"/>
        <xs:element ref="iata:CountrySubDivisionName" xmlns:iata="http://www.iata.org/IATA/2015/00/2018.2/IATA_OrderViewRS"/>
        <xs:element ref="iata:LabelText" xmlns:iata="http://www.iata.org/IATA/2015/00/2018.2/IATA_OrderViewRS"/>
        <xs:element ref="iata:PostalCode" xmlns:iata="http://www.iata.org/IATA/2015/00/2018.2/IATA_OrderViewRS"/>
        <xs:element ref="iata:StreetText" xmlns:iata="http://www.iata.org/IATA/2015/00/2018.2/IATA_OrderViewRS"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ContactInfo">
    <xs:complexType>
      <xs:sequence>
        <xs:element ref="iata:ContactInfoID" xmlns:iata="http://www.iata.org/IATA/2015/00/2018.2/IATA_OrderViewRS"/>
        <xs:element ref="iata:ContactTypeText" xmlns:iata="http://www.iata.org/IATA/2015/00/2018.2/IATA_OrderViewRS"/>
        <xs:element ref="iata:EmailAddress" minOccurs="0" xmlns:iata="http://www.iata.org/IATA/2015/00/2018.2/IATA_OrderViewRS"/>
        <xs:element ref="iata:Individual" minOccurs="0" xmlns:iata="http://www.iata.org/IATA/2015/00/2018.2/IATA_OrderViewRS"/>
        <xs:element ref="iata:Phone" maxOccurs="unbounded" minOccurs="0" xmlns:iata="http://www.iata.org/IATA/2015/00/2018.2/IATA_OrderViewRS"/>
        <xs:element ref="iata:PostalAddress" maxOccurs="unbounded" minOccurs="0" xmlns:iata="http://www.iata.org/IATA/2015/00/2018.2/IATA_OrderViewRS"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="IdentityDocID" type="xs:string"/>
  <xs:element name="IdentityDocTypeCode" type="xs:string"/>
  <xs:element name="ContactInfoRefID" type="xs:string"/>
  <xs:element name="IdentityDoc">
    <xs:complexType>
      <xs:sequence>
        <xs:element ref="iata:IdentityDocID" xmlns:iata="http://www.iata.org/IATA/2015/00/2018.2/IATA_OrderViewRS"/>
        <xs:element ref="iata:IdentityDocTypeCode" xmlns:iata="http://www.iata.org/IATA/2015/00/2018.2/IATA_OrderViewRS"/>
        <xs:element ref="iata:Surname" xmlns:iata="http://www.iata.org/IATA/2015/00/2018.2/IATA_OrderViewRS"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="PaxID" type="xs:string"/>
  <xs:element name="PTC" type="xs:string"/>
  <xs:element name="Pax">
    <xs:complexType>
      <xs:sequence>
        <xs:element ref="iata:ContactInfoRefID" xmlns:iata="http://www.iata.org/IATA/2015/00/2018.2/IATA_OrderViewRS"/>
        <xs:element ref="iata:IdentityDoc" xmlns:iata="http://www.iata.org/IATA/2015/00/2018.2/IATA_OrderViewRS"/>
        <xs:element ref="iata:Individual" xmlns:iata="http://www.iata.org/IATA/2015/00/2018.2/IATA_OrderViewRS"/>
        <xs:element ref="iata:PaxID" xmlns:iata="http://www.iata.org/IATA/2015/00/2018.2/IATA_OrderViewRS"/>
        <xs:element ref="iata:PTC" xmlns:iata="http://www.iata.org/IATA/2015/00/2018.2/IATA_OrderViewRS"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AircraftScheduledDateTime">
    <xs:simpleType>
      <xs:restriction base="xs:string">
        <xs:enumeration value="2019-08-01T12:00:00.000+08:00"/>
        <xs:enumeration value="2019-08-01T14:15:00.000+08:00"/>
      </xs:restriction>
    </xs:simpleType>
  </xs:element>
  <xs:element name="IATALocationCode">
    <xs:simpleType>
      <xs:restriction base="xs:string">
        <xs:enumeration value="SHA"/>
        <xs:enumeration value="XIY"/>
      </xs:restriction>
    </xs:simpleType>
  </xs:element>
  <xs:element name="StationName">
    <xs:simpleType>
      <xs:restriction base="xs:string">
        <xs:enumeration value="上海虹桥机场"/>
        <xs:enumeration value="咸阳机场"/>
      </xs:restriction>
    </xs:simpleType>
  </xs:element>
  <xs:element name="CabinTypeCode">
    <xs:simpleType>
      <xs:restriction base="xs:string">
        <xs:enumeration value="C"/>
        <xs:enumeration value="B"/>
      </xs:restriction>
    </xs:simpleType>
  </xs:element>
  <xs:element name="CarrierAircraftTypeCode" type="xs:string"/>
  <xs:element name="Arrival">
    <xs:complexType>
      <xs:sequence>
        <xs:element ref="iata:AircraftScheduledDateTime" minOccurs="0" xmlns:iata="http://www.iata.org/IATA/2015/00/2018.2/IATA_OrderViewRS"/>
        <xs:element ref="iata:IATALocationCode" xmlns:iata="http://www.iata.org/IATA/2015/00/2018.2/IATA_OrderViewRS"/>
        <xs:element ref="iata:StationName" minOccurs="0" xmlns:iata="http://www.iata.org/IATA/2015/00/2018.2/IATA_OrderViewRS"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CarrierAircraftType">
    <xs:complexType>
      <xs:sequence>
        <xs:element ref="iata:CarrierAircraftTypeCode" xmlns:iata="http://www.iata.org/IATA/2015/00/2018.2/IATA_OrderViewRS"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DatedOperatingLegID">
    <xs:simpleType>
      <xs:restriction base="xs:string">
        <xs:enumeration value="6215a5fd9c364c40a950dbe26fffc9c8"/>
        <xs:enumeration value="efe9163b2b6e4ed6900c1637871b99d4"/>
        <xs:enumeration value="6cc911cee77b4bbe89d63ffc2d3272b3"/>
      </xs:restriction>
    </xs:simpleType>
  </xs:element>
  <xs:element name="Dep">
    <xs:complexType>
      <xs:sequence>
        <xs:element ref="iata:AircraftScheduledDateTime" minOccurs="0" xmlns:iata="http://www.iata.org/IATA/2015/00/2018.2/IATA_OrderViewRS"/>
        <xs:element ref="iata:IATALocationCode" xmlns:iata="http://www.iata.org/IATA/2015/00/2018.2/IATA_OrderViewRS"/>
        <xs:element ref="iata:StationName" minOccurs="0" xmlns:iata="http://www.iata.org/IATA/2015/00/2018.2/IATA_OrderViewRS"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CarrierDesigCode" type="xs:string"/>
  <xs:element name="MarketingCarrierFlightNumberText" type="xs:string"/>
  <xs:element name="RBDCode" type="xs:string"/>
  <xs:element name="OperatingCarrierFlightNumberText" type="xs:string"/>
  <xs:element name="StatusCode">
    <xs:simpleType>
      <xs:restriction base="xs:string">
        <xs:enumeration value="7DO"/>
        <xs:enumeration value="CANCELLEDBYCUSTOMER"/>
      </xs:restriction>
    </xs:simpleType>
  </xs:element>
  <xs:element name="CabinType">
    <xs:complexType>
      <xs:sequence>
        <xs:element ref="iata:CabinTypeCode" xmlns:iata="http://www.iata.org/IATA/2015/00/2018.2/IATA_OrderViewRS"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DatedOperatingLeg">
    <xs:complexType>
      <xs:sequence>
        <xs:element ref="iata:Arrival" xmlns:iata="http://www.iata.org/IATA/2015/00/2018.2/IATA_OrderViewRS"/>
        <xs:element ref="iata:CarrierAircraftType" xmlns:iata="http://www.iata.org/IATA/2015/00/2018.2/IATA_OrderViewRS"/>
        <xs:element ref="iata:DatedOperatingLegID" xmlns:iata="http://www.iata.org/IATA/2015/00/2018.2/IATA_OrderViewRS"/>
        <xs:element ref="iata:Dep" xmlns:iata="http://www.iata.org/IATA/2015/00/2018.2/IATA_OrderViewRS"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="MarketingCarrierInfo">
    <xs:complexType>
      <xs:sequence>
        <xs:element ref="iata:CarrierDesigCode" xmlns:iata="http://www.iata.org/IATA/2015/00/2018.2/IATA_OrderViewRS"/>
        <xs:element ref="iata:MarketingCarrierFlightNumberText" xmlns:iata="http://www.iata.org/IATA/2015/00/2018.2/IATA_OrderViewRS"/>
        <xs:element ref="iata:RBDCode" xmlns:iata="http://www.iata.org/IATA/2015/00/2018.2/IATA_OrderViewRS"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="OperatingCarrierInfo">
    <xs:complexType>
      <xs:sequence>
        <xs:element ref="iata:CarrierDesigCode" xmlns:iata="http://www.iata.org/IATA/2015/00/2018.2/IATA_OrderViewRS"/>
        <xs:element ref="iata:OperatingCarrierFlightNumberText" xmlns:iata="http://www.iata.org/IATA/2015/00/2018.2/IATA_OrderViewRS"/>
        <xs:element ref="iata:RBDCode" xmlns:iata="http://www.iata.org/IATA/2015/00/2018.2/IATA_OrderViewRS"/>
        <xs:element ref="iata:StatusCode" xmlns:iata="http://www.iata.org/IATA/2015/00/2018.2/IATA_OrderViewRS"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="PaxSegmentID">
    <xs:simpleType>
      <xs:restriction base="xs:string">
        <xs:enumeration value="510851"/>
        <xs:enumeration value="510853"/>
        <xs:enumeration value="510852"/>
      </xs:restriction>
    </xs:simpleType>
  </xs:element>
  <xs:element name="PaxSegment">
    <xs:complexType>
      <xs:sequence>
        <xs:element ref="iata:Arrival" xmlns:iata="http://www.iata.org/IATA/2015/00/2018.2/IATA_OrderViewRS"/>
        <xs:element ref="iata:CabinType" xmlns:iata="http://www.iata.org/IATA/2015/00/2018.2/IATA_OrderViewRS"/>
        <xs:element ref="iata:DatedOperatingLeg" xmlns:iata="http://www.iata.org/IATA/2015/00/2018.2/IATA_OrderViewRS"/>
        <xs:element ref="iata:Dep" xmlns:iata="http://www.iata.org/IATA/2015/00/2018.2/IATA_OrderViewRS"/>
        <xs:element ref="iata:MarketingCarrierInfo" xmlns:iata="http://www.iata.org/IATA/2015/00/2018.2/IATA_OrderViewRS"/>
        <xs:element ref="iata:OperatingCarrierInfo" xmlns:iata="http://www.iata.org/IATA/2015/00/2018.2/IATA_OrderViewRS"/>
        <xs:element ref="iata:PaxSegmentID" xmlns:iata="http://www.iata.org/IATA/2015/00/2018.2/IATA_OrderViewRS"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Desc">
    <xs:complexType mixed="true">
      <xs:sequence>
        <xs:element ref="iata:DescText" minOccurs="0" xmlns:iata="http://www.iata.org/IATA/2015/00/2018.2/IATA_OrderViewRS"/>
        <xs:element ref="iata:MarkupStyleText" minOccurs="0" xmlns:iata="http://www.iata.org/IATA/2015/00/2018.2/IATA_OrderViewRS"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="PriceClassID">
    <xs:simpleType>
      <xs:restriction base="xs:string">
        <xs:enumeration value="ed2e71eb396e414c979d43fe4e51d9f0"/>
        <xs:enumeration value="a3d7a3b96e14424da69f20b36117dd16"/>
      </xs:restriction>
    </xs:simpleType>
  </xs:element>
  <xs:element name="PriceClass">
    <xs:complexType>
      <xs:sequence>
        <xs:element ref="iata:CabinType" maxOccurs="unbounded" minOccurs="0" xmlns:iata="http://www.iata.org/IATA/2015/00/2018.2/IATA_OrderViewRS"/>
        <xs:element ref="iata:Desc" xmlns:iata="http://www.iata.org/IATA/2015/00/2018.2/IATA_OrderViewRS"/>
        <xs:element ref="iata:PriceClassID" xmlns:iata="http://www.iata.org/IATA/2015/00/2018.2/IATA_OrderViewRS"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="BaggageAllowanceRefID">
    <xs:simpleType>
      <xs:restriction base="xs:string">
        <xs:enumeration value="6e4751d96f514a928041c116c685b0be"/>
        <xs:enumeration value="079a3e034168454e9e776acd3e72c921"/>
        <xs:enumeration value="784c6d591d82460e985c465977798068"/>
      </xs:restriction>
    </xs:simpleType>
  </xs:element>
  <xs:element name="Name">
    <xs:simpleType>
      <xs:restriction base="xs:string">
        <xs:enumeration value="BAGGAGE"/>
        <xs:enumeration value="MEAL"/>
        <xs:enumeration value="WIFI"/>
        <xs:enumeration value="LOUNGE"/>
        <xs:enumeration value="NDC_FLIGHT_ORDER_RETRIEVE"/>
      </xs:restriction>
    </xs:simpleType>
  </xs:element>
  <xs:element name="ServiceCode">
    <xs:simpleType>
      <xs:restriction base="xs:string">
        <xs:enumeration value="5PC"/>
        <xs:enumeration value="false"/>
        <xs:enumeration value="10KG"/>
        <xs:enumeration value="20KG"/>
        <xs:enumeration value="1B58"/>
      </xs:restriction>
    </xs:simpleType>
  </xs:element>
  <xs:element name="ServiceDefinitionAssociation">
    <xs:complexType>
      <xs:sequence>
        <xs:element ref="iata:BaggageAllowanceRefID" xmlns:iata="http://www.iata.org/IATA/2015/00/2018.2/IATA_OrderViewRS"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ServiceDefinitionID">
    <xs:simpleType>
      <xs:restriction base="xs:string">
        <xs:enumeration value="BAGGAGE_351926ea3d99482ca53409febb55d08d"/>
        <xs:enumeration value="MEAL_42643e06121c4743bb0a2d03073a21f6"/>
        <xs:enumeration value="BAGGAGE_bfe809a398f0441e92c5248f3f306ee4"/>
        <xs:enumeration value="WIFI_60eadfcf6835454f8891615a8c567b82"/>
        <xs:enumeration value="BAGGAGE_0044a9a1ed524f51ba03a1fc4b1cc446"/>
        <xs:enumeration value="LOUNGE_3af7a6f41eb24621b9294818d3c75619"/>
      </xs:restriction>
    </xs:simpleType>
  </xs:element>
  <xs:element name="ServiceDefinition">
    <xs:complexType>
      <xs:sequence>
        <xs:element ref="iata:Desc" xmlns:iata="http://www.iata.org/IATA/2015/00/2018.2/IATA_OrderViewRS"/>
        <xs:element ref="iata:Name" xmlns:iata="http://www.iata.org/IATA/2015/00/2018.2/IATA_OrderViewRS"/>
        <xs:element ref="iata:ServiceCode" xmlns:iata="http://www.iata.org/IATA/2015/00/2018.2/IATA_OrderViewRS"/>
        <xs:element ref="iata:ServiceDefinitionAssociation" minOccurs="0" xmlns:iata="http://www.iata.org/IATA/2015/00/2018.2/IATA_OrderViewRS"/>
        <xs:element ref="iata:ServiceDefinitionID" xmlns:iata="http://www.iata.org/IATA/2015/00/2018.2/IATA_OrderViewRS"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="BaggageAllowanceList">
    <xs:complexType>
      <xs:sequence>
        <xs:element ref="iata:BaggageAllowance" maxOccurs="unbounded" minOccurs="0" xmlns:iata="http://www.iata.org/IATA/2015/00/2018.2/IATA_OrderViewRS"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ContactInfoList">
    <xs:complexType>
      <xs:sequence>
        <xs:element ref="iata:ContactInfo" maxOccurs="unbounded" minOccurs="0" xmlns:iata="http://www.iata.org/IATA/2015/00/2018.2/IATA_OrderViewRS"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="PaxList">
    <xs:complexType>
      <xs:sequence>
        <xs:element ref="iata:Pax" xmlns:iata="http://www.iata.org/IATA/2015/00/2018.2/IATA_OrderViewRS"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="PaxSegmentList">
    <xs:complexType>
      <xs:sequence>
        <xs:element ref="iata:PaxSegment" maxOccurs="unbounded" minOccurs="0" xmlns:iata="http://www.iata.org/IATA/2015/00/2018.2/IATA_OrderViewRS"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="PriceClassList">
    <xs:complexType>
      <xs:sequence>
        <xs:element ref="iata:PriceClass" maxOccurs="unbounded" minOccurs="0" xmlns:iata="http://www.iata.org/IATA/2015/00/2018.2/IATA_OrderViewRS"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ServiceDefinitionList">
    <xs:complexType>
      <xs:sequence>
        <xs:element ref="iata:ServiceDefinition" maxOccurs="unbounded" minOccurs="0" xmlns:iata="http://www.iata.org/IATA/2015/00/2018.2/IATA_OrderViewRS"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="MarkupStyleText" type="xs:string"/>
  <xs:element name="DisclosureID" type="xs:string"/>
  <xs:element name="TotalTaxAmount">
    <xs:complexType>
      <xs:simpleContent>
        <xs:extension base="xs:string">
          <xs:attribute type="xs:string" name="CurCode" use="optional"/>
        </xs:extension>
      </xs:simpleContent>
    </xs:complexType>
  </xs:element>
  <xs:element name="BaseAmount">
    <xs:complexType>
      <xs:simpleContent>
        <xs:extension base="xs:string">
          <xs:attribute type="xs:string" name="CurCode" use="optional"/>
        </xs:extension>
      </xs:simpleContent>
    </xs:complexType>
  </xs:element>
  <xs:element name="TaxSummary">
    <xs:complexType>
      <xs:sequence>
        <xs:element ref="iata:Tax" minOccurs="0" xmlns:iata="http://www.iata.org/IATA/2015/00/2018.2/IATA_OrderViewRS"/>
        <xs:element ref="iata:TotalTaxAmount" xmlns:iata="http://www.iata.org/IATA/2015/00/2018.2/IATA_OrderViewRS"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="TotalAmount">
    <xs:complexType>
      <xs:simpleContent>
        <xs:extension base="xs:string">
          <xs:attribute type="xs:string" name="CurCode" use="optional"/>
        </xs:extension>
      </xs:simpleContent>
    </xs:complexType>
  </xs:element>
  <xs:element name="PaxSegmentRefID">
    <xs:simpleType>
      <xs:restriction base="xs:string">
        <xs:enumeration value="510853"/>
        <xs:enumeration value="510851"/>
        <xs:enumeration value="510852"/>
        <xs:enumeration value="684996"/>
      </xs:restriction>
    </xs:simpleType>
  </xs:element>
  <xs:element name="ServiceDefinitionRefID">
    <xs:simpleType>
      <xs:restriction base="xs:string">
        <xs:enumeration value="BAGGAGE_351926ea3d99482ca53409febb55d08d"/>
        <xs:enumeration value="WIFI_60eadfcf6835454f8891615a8c567b82"/>
        <xs:enumeration value="MEAL_42643e06121c4743bb0a2d03073a21f6"/>
        <xs:enumeration value="BAGGAGE_0044a9a1ed524f51ba03a1fc4b1cc446"/>
        <xs:enumeration value="BAGGAGE_bfe809a398f0441e92c5248f3f306ee4"/>
        <xs:enumeration value="LOUNGE_3af7a6f41eb24621b9294818d3c75619"/>
      </xs:restriction>
    </xs:simpleType>
  </xs:element>
  <xs:element name="ServiceDefinitionRef">
    <xs:complexType>
      <xs:sequence>
        <xs:element ref="iata:PaxSegmentRefID" xmlns:iata="http://www.iata.org/IATA/2015/00/2018.2/IATA_OrderViewRS"/>
        <xs:element ref="iata:ServiceDefinitionRefID" xmlns:iata="http://www.iata.org/IATA/2015/00/2018.2/IATA_OrderViewRS"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="PaxRefID">
    <xs:simpleType>
      <xs:restriction base="xs:string">
        <xs:enumeration value="20004837"/>
        <xs:enumeration value="20004835"/>
        <xs:enumeration value="20004836"/>
        <xs:enumeration value="20134103"/>
        <xs:enumeration value="20195942"/>
      </xs:restriction>
    </xs:simpleType>
  </xs:element>
  <xs:element name="ServiceAssociations">
    <xs:complexType>
      <xs:sequence>
        <xs:element ref="iata:ServiceDefinitionRef" minOccurs="0" xmlns:iata="http://www.iata.org/IATA/2015/00/2018.2/IATA_OrderViewRS"/>
        <xs:element ref="iata:SelectedSeat" minOccurs="0" xmlns:iata="http://www.iata.org/IATA/2015/00/2018.2/IATA_OrderViewRS"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ServiceID" type="xs:string"/>
  <xs:element name="BookingStatusCode" type="xs:string"/>
  <xs:element name="DeliveryCode" type="xs:string"/>
  <xs:element name="ColumnID" type="xs:string"/>
  <xs:element name="RowNumber" type="xs:string"/>
  <xs:element name="SeatProfileRefID" type="xs:string"/>
  <xs:element name="DatedOperatingLegRefID" type="xs:string"/>
  <xs:element name="Seat">
    <xs:complexType>
      <xs:sequence>
        <xs:element ref="iata:ColumnID" xmlns:iata="http://www.iata.org/IATA/2015/00/2018.2/IATA_OrderViewRS"/>
        <xs:element ref="iata:RowNumber" xmlns:iata="http://www.iata.org/IATA/2015/00/2018.2/IATA_OrderViewRS"/>
        <xs:element ref="iata:SeatProfileRefID" xmlns:iata="http://www.iata.org/IATA/2015/00/2018.2/IATA_OrderViewRS"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SelectedSeat">
    <xs:complexType>
      <xs:sequence>
        <xs:element ref="iata:DatedOperatingLegRefID" xmlns:iata="http://www.iata.org/IATA/2015/00/2018.2/IATA_OrderViewRS"/>
        <xs:element ref="iata:Seat" xmlns:iata="http://www.iata.org/IATA/2015/00/2018.2/IATA_OrderViewRS"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CreationDateTime" type="xs:string"/>
  <xs:element name="Disclosure">
    <xs:complexType>
      <xs:sequence>
        <xs:element ref="iata:Desc" xmlns:iata="http://www.iata.org/IATA/2015/00/2018.2/IATA_OrderViewRS"/>
        <xs:element ref="iata:DisclosureID" xmlns:iata="http://www.iata.org/IATA/2015/00/2018.2/IATA_OrderViewRS"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="OrderItemID" type="xs:string"/>
  <xs:element name="OwnerCode" type="xs:string"/>
  <xs:element name="OwnerTypeCode" type="xs:string"/>
  <xs:element name="PaymentTimeLimitDateTime" type="xs:string"/>
  <xs:element name="Price">
    <xs:complexType>
      <xs:sequence>
        <xs:element ref="iata:BaseAmount" minOccurs="0" xmlns:iata="http://www.iata.org/IATA/2015/00/2018.2/IATA_OrderViewRS"/>
        <xs:element ref="iata:TaxSummary" minOccurs="0" xmlns:iata="http://www.iata.org/IATA/2015/00/2018.2/IATA_OrderViewRS"/>
        <xs:element ref="iata:TotalAmount" xmlns:iata="http://www.iata.org/IATA/2015/00/2018.2/IATA_OrderViewRS"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Service">
    <xs:complexType>
      <xs:sequence>
        <xs:element ref="iata:BookingStatusCode" minOccurs="0" xmlns:iata="http://www.iata.org/IATA/2015/00/2018.2/IATA_OrderViewRS"/>
        <xs:element ref="iata:DeliveryCode" minOccurs="0" xmlns:iata="http://www.iata.org/IATA/2015/00/2018.2/IATA_OrderViewRS"/>
        <xs:element ref="iata:PaxRefID" xmlns:iata="http://www.iata.org/IATA/2015/00/2018.2/IATA_OrderViewRS"/>
        <xs:element ref="iata:ServiceAssociations" xmlns:iata="http://www.iata.org/IATA/2015/00/2018.2/IATA_OrderViewRS"/>
        <xs:element ref="iata:ServiceID" xmlns:iata="http://www.iata.org/IATA/2015/00/2018.2/IATA_OrderViewRS"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="OrderID" type="xs:string"/>
  <xs:element name="OrderItem">
    <xs:complexType>
      <xs:sequence>
        <xs:element ref="iata:CreationDateTime" minOccurs="0" xmlns:iata="http://www.iata.org/IATA/2015/00/2018.2/IATA_OrderViewRS"/>
        <xs:element ref="iata:Disclosure" minOccurs="0" xmlns:iata="http://www.iata.org/IATA/2015/00/2018.2/IATA_OrderViewRS"/>
        <xs:element ref="iata:OrderItemID" minOccurs="0" xmlns:iata="http://www.iata.org/IATA/2015/00/2018.2/IATA_OrderViewRS"/>
        <xs:element ref="iata:OrderItemRefID" minOccurs="0" xmlns:iata="http://www.iata.org/IATA/2015/00/2018.2/IATA_OrderViewRS"/>
        <xs:element ref="iata:OwnerCode" xmlns:iata="http://www.iata.org/IATA/2015/00/2018.2/IATA_OrderViewRS"/>
        <xs:element ref="iata:OwnerTypeCode" xmlns:iata="http://www.iata.org/IATA/2015/00/2018.2/IATA_OrderViewRS"/>
        <xs:element ref="iata:PaymentTimeLimitDateTime" minOccurs="0" xmlns:iata="http://www.iata.org/IATA/2015/00/2018.2/IATA_OrderViewRS"/>
        <xs:element ref="iata:Price" minOccurs="0" xmlns:iata="http://www.iata.org/IATA/2015/00/2018.2/IATA_OrderViewRS"/>
        <xs:element ref="iata:Service" maxOccurs="unbounded" minOccurs="0" xmlns:iata="http://www.iata.org/IATA/2015/00/2018.2/IATA_OrderViewRS"/>
        <xs:element ref="iata:StatusCode" minOccurs="0" xmlns:iata="http://www.iata.org/IATA/2015/00/2018.2/IATA_OrderViewRS"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="TotalPrice">
    <xs:complexType>
      <xs:sequence>
        <xs:element ref="iata:BaseAmount" xmlns:iata="http://www.iata.org/IATA/2015/00/2018.2/IATA_OrderViewRS"/>
        <xs:element ref="iata:TaxSummary" xmlns:iata="http://www.iata.org/IATA/2015/00/2018.2/IATA_OrderViewRS"/>
        <xs:element ref="iata:TotalAmount" xmlns:iata="http://www.iata.org/IATA/2015/00/2018.2/IATA_OrderViewRS"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AirlineDesigCode" type="xs:string"/>
  <xs:element name="Carrier">
    <xs:complexType>
      <xs:sequence>
        <xs:element ref="iata:AirlineDesigCode" xmlns:iata="http://www.iata.org/IATA/2015/00/2018.2/IATA_OrderViewRS"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="BookingEntity">
    <xs:complexType>
      <xs:sequence>
        <xs:element ref="iata:Carrier" xmlns:iata="http://www.iata.org/IATA/2015/00/2018.2/IATA_OrderViewRS"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="BookingID" type="xs:string"/>
  <xs:element name="BookingRefTypeCode" type="xs:string"/>
  <xs:element name="RemarkText">
    <xs:simpleType>
      <xs:restriction base="xs:string">
        <xs:enumeration value="{&quot;eiComment&quot;:&quot;refund&quot;,&quot;ei&quot;:&quot;Q\/N-END\/PENALTY APPLY&quot;}"/>
        <xs:enumeration value="{&quot;serviceDeliveryDetail&quot;:{&quot;loungeServiceDeliveryDetail&quot;:{&quot;loungeRoomName&quot;:&quot;voRoomname&quot;,&quot;loungeVerificationText&quot;:&quot;E2045BE312F09C756844D98AB697ABFD43F738D2645F1204&quot;}}}"/>
        <xs:enumeration value="{&quot;eiComment&quot;:&quot;change&quot;,&quot;ei&quot;:&quot;Q\/N-END\/PENALTY APPLY&quot;}"/>
      </xs:restriction>
    </xs:simpleType>
  </xs:element>
  <xs:element name="Remark">
    <xs:complexType>
      <xs:sequence>
        <xs:element ref="iata:RemarkText" xmlns:iata="http://www.iata.org/IATA/2015/00/2018.2/IATA_OrderViewRS"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="FareRule">
    <xs:complexType>
      <xs:sequence>
        <xs:element ref="iata:Remark" xmlns:iata="http://www.iata.org/IATA/2015/00/2018.2/IATA_OrderViewRS"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="PriceClassRefID" type="xs:string"/>
  <xs:element name="Amount">
    <xs:complexType>
      <xs:simpleContent>
        <xs:extension base="xs:string">
          <xs:attribute type="xs:string" name="CurCode" use="optional"/>
        </xs:extension>
      </xs:simpleContent>
    </xs:complexType>
  </xs:element>
  <xs:element name="TaxCode" type="xs:string"/>
  <xs:element name="Tax">
    <xs:complexType>
      <xs:sequence>
        <xs:element ref="iata:Amount" xmlns:iata="http://www.iata.org/IATA/2015/00/2018.2/IATA_OrderViewRS"/>
        <xs:element ref="iata:DescText" minOccurs="0" xmlns:iata="http://www.iata.org/IATA/2015/00/2018.2/IATA_OrderViewRS"/>
        <xs:element ref="iata:TaxCode" xmlns:iata="http://www.iata.org/IATA/2015/00/2018.2/IATA_OrderViewRS"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="FarePriceTypeCode" type="xs:string"/>
  <xs:element name="FareComponent">
    <xs:complexType mixed="true">
      <xs:sequence>
        <xs:element ref="iata:FareRule" minOccurs="0" xmlns:iata="http://www.iata.org/IATA/2015/00/2018.2/IATA_OrderViewRS"/>
        <xs:element ref="iata:PaxSegmentRefID" minOccurs="0" xmlns:iata="http://www.iata.org/IATA/2015/00/2018.2/IATA_OrderViewRS"/>
        <xs:element ref="iata:Price" minOccurs="0" xmlns:iata="http://www.iata.org/IATA/2015/00/2018.2/IATA_OrderViewRS"/>
        <xs:element ref="iata:PriceClassRefID" minOccurs="0" xmlns:iata="http://www.iata.org/IATA/2015/00/2018.2/IATA_OrderViewRS"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="FarePriceType">
    <xs:complexType>
      <xs:sequence>
        <xs:element ref="iata:FarePriceTypeCode" xmlns:iata="http://www.iata.org/IATA/2015/00/2018.2/IATA_OrderViewRS"/>
        <xs:element ref="iata:Price" xmlns:iata="http://www.iata.org/IATA/2015/00/2018.2/IATA_OrderViewRS"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="PricingSystemCodeText" type="xs:string"/>
  <xs:element name="OrderItemRefID" type="xs:string"/>
  <xs:element name="OrderRefID" type="xs:string"/>
  <xs:element name="ConnectedCouponNumber" type="xs:string"/>
  <xs:element name="CouponNumber" type="xs:string"/>
  <xs:element name="CouponRefNumber" type="xs:string"/>
  <xs:element name="CouponSeqNumber" type="xs:string"/>
  <xs:element name="CouponStatusCode" type="xs:string"/>
  <xs:element name="NonRefundableInd" type="xs:string"/>
  <xs:element name="ServiceDeliveryProviderLocationCode" type="xs:string"/>
  <xs:element name="ServiceRefID">
    <xs:simpleType>
      <xs:restriction base="xs:string">
        <xs:enumeration value="LOUNGE_7d05ea0783ac423694d4f7388a94649d"/>
        <xs:enumeration value="SEAT_86321077169444f3af99fa0f3bc9368a"/>
      </xs:restriction>
    </xs:simpleType>
  </xs:element>
  <xs:element name="ConnectedDocNumber">
    <xs:simpleType>
      <xs:restriction base="xs:string">
        <xs:enumeration value="0"/>
        <xs:enumeration value=""/>
      </xs:restriction>
    </xs:simpleType>
  </xs:element>
  <xs:element name="Coupon">
    <xs:complexType>
      <xs:sequence>
        <xs:element ref="iata:ConnectedCouponNumber" xmlns:iata="http://www.iata.org/IATA/2015/00/2018.2/IATA_OrderViewRS"/>
        <xs:element ref="iata:CouponNumber" xmlns:iata="http://www.iata.org/IATA/2015/00/2018.2/IATA_OrderViewRS"/>
        <xs:element ref="iata:CouponRefNumber" xmlns:iata="http://www.iata.org/IATA/2015/00/2018.2/IATA_OrderViewRS"/>
        <xs:element ref="iata:CouponSeqNumber" xmlns:iata="http://www.iata.org/IATA/2015/00/2018.2/IATA_OrderViewRS"/>
        <xs:element ref="iata:CouponStatusCode" xmlns:iata="http://www.iata.org/IATA/2015/00/2018.2/IATA_OrderViewRS"/>
        <xs:element ref="iata:NonRefundableInd" xmlns:iata="http://www.iata.org/IATA/2015/00/2018.2/IATA_OrderViewRS"/>
        <xs:element ref="iata:RemarkText" minOccurs="0" xmlns:iata="http://www.iata.org/IATA/2015/00/2018.2/IATA_OrderViewRS"/>
        <xs:element ref="iata:ServiceDeliveryProviderLocationCode" minOccurs="0" xmlns:iata="http://www.iata.org/IATA/2015/00/2018.2/IATA_OrderViewRS"/>
        <xs:element ref="iata:ServiceRefID" maxOccurs="unbounded" minOccurs="0" xmlns:iata="http://www.iata.org/IATA/2015/00/2018.2/IATA_OrderViewRS"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="TicketDocTypeCode" type="xs:string"/>
  <xs:element name="TicketNumber" type="xs:string"/>
  <xs:element name="BookingRef">
    <xs:complexType>
      <xs:sequence>
        <xs:element ref="iata:BookingEntity" xmlns:iata="http://www.iata.org/IATA/2015/00/2018.2/IATA_OrderViewRS"/>
        <xs:element ref="iata:BookingID" xmlns:iata="http://www.iata.org/IATA/2015/00/2018.2/IATA_OrderViewRS"/>
        <xs:element ref="iata:BookingRefTypeCode" xmlns:iata="http://www.iata.org/IATA/2015/00/2018.2/IATA_OrderViewRS"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="FareDetail">
    <xs:complexType>
      <xs:sequence>
        <xs:element ref="iata:FareComponent" maxOccurs="unbounded" minOccurs="0" xmlns:iata="http://www.iata.org/IATA/2015/00/2018.2/IATA_OrderViewRS"/>
        <xs:element ref="iata:FarePriceType" xmlns:iata="http://www.iata.org/IATA/2015/00/2018.2/IATA_OrderViewRS"/>
        <xs:element ref="iata:PricingSystemCodeText" xmlns:iata="http://www.iata.org/IATA/2015/00/2018.2/IATA_OrderViewRS"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="PaymentInfoRefID">
    <xs:simpleType>
      <xs:restriction base="xs:string">
        <xs:enumeration value="5bb479de0e19439abcc26b9f00ef7215"/>
        <xs:enumeration value="8147a23f847a4879952439e624d0ad4"/>
      </xs:restriction>
    </xs:simpleType>
  </xs:element>
  <xs:element name="RefdOrder">
    <xs:complexType>
      <xs:sequence>
        <xs:element ref="iata:OrderRefID" xmlns:iata="http://www.iata.org/IATA/2015/00/2018.2/IATA_OrderViewRS"/>
        <xs:element ref="iata:OrderItem" xmlns:iata="http://www.iata.org/IATA/2015/00/2018.2/IATA_OrderViewRS"/>
        <xs:element ref="iata:OwnerCode" xmlns:iata="http://www.iata.org/IATA/2015/00/2018.2/IATA_OrderViewRS"/>
        <xs:element ref="iata:OwnerTypeCode" xmlns:iata="http://www.iata.org/IATA/2015/00/2018.2/IATA_OrderViewRS"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Ticket">
    <xs:complexType>
      <xs:sequence>
        <xs:element ref="iata:ConnectedDocNumber" xmlns:iata="http://www.iata.org/IATA/2015/00/2018.2/IATA_OrderViewRS"/>
        <xs:element ref="iata:Coupon" xmlns:iata="http://www.iata.org/IATA/2015/00/2018.2/IATA_OrderViewRS"/>
        <xs:element ref="iata:TicketDocTypeCode" xmlns:iata="http://www.iata.org/IATA/2015/00/2018.2/IATA_OrderViewRS"/>
        <xs:element ref="iata:TicketNumber" xmlns:iata="http://www.iata.org/IATA/2015/00/2018.2/IATA_OrderViewRS"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DataLists">
    <xs:complexType>
      <xs:sequence>
        <xs:element ref="iata:BaggageAllowanceList" xmlns:iata="http://www.iata.org/IATA/2015/00/2018.2/IATA_OrderViewRS"/>
        <xs:element ref="iata:ContactInfoList" xmlns:iata="http://www.iata.org/IATA/2015/00/2018.2/IATA_OrderViewRS"/>
        <xs:element ref="iata:PaxList" xmlns:iata="http://www.iata.org/IATA/2015/00/2018.2/IATA_OrderViewRS"/>
        <xs:element ref="iata:PaxSegmentList" xmlns:iata="http://www.iata.org/IATA/2015/00/2018.2/IATA_OrderViewRS"/>
        <xs:element ref="iata:PriceClassList" xmlns:iata="http://www.iata.org/IATA/2015/00/2018.2/IATA_OrderViewRS"/>
        <xs:element ref="iata:ServiceDefinitionList" xmlns:iata="http://www.iata.org/IATA/2015/00/2018.2/IATA_OrderViewRS"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Order">
    <xs:complexType>
      <xs:sequence>
        <xs:element ref="iata:OrderID" xmlns:iata="http://www.iata.org/IATA/2015/00/2018.2/IATA_OrderViewRS"/>
        <xs:element ref="iata:OrderItem" xmlns:iata="http://www.iata.org/IATA/2015/00/2018.2/IATA_OrderViewRS"/>
        <xs:element ref="iata:OwnerCode" xmlns:iata="http://www.iata.org/IATA/2015/00/2018.2/IATA_OrderViewRS"/>
        <xs:element ref="iata:OwnerTypeCode" xmlns:iata="http://www.iata.org/IATA/2015/00/2018.2/IATA_OrderViewRS"/>
        <xs:element ref="iata:TotalPrice" xmlns:iata="http://www.iata.org/IATA/2015/00/2018.2/IATA_OrderViewRS"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="TicketDocInfo">
    <xs:complexType>
      <xs:sequence>
        <xs:element ref="iata:BookingRef" xmlns:iata="http://www.iata.org/IATA/2015/00/2018.2/IATA_OrderViewRS"/>
        <xs:element ref="iata:FareDetail" xmlns:iata="http://www.iata.org/IATA/2015/00/2018.2/IATA_OrderViewRS"/>
        <xs:element ref="iata:PaxRefID" xmlns:iata="http://www.iata.org/IATA/2015/00/2018.2/IATA_OrderViewRS"/>
        <xs:element ref="iata:PaymentInfoRefID" maxOccurs="unbounded" minOccurs="0" xmlns:iata="http://www.iata.org/IATA/2015/00/2018.2/IATA_OrderViewRS"/>
        <xs:element ref="iata:RefdOrder" xmlns:iata="http://www.iata.org/IATA/2015/00/2018.2/IATA_OrderViewRS"/>
        <xs:element ref="iata:Ticket" xmlns:iata="http://www.iata.org/IATA/2015/00/2018.2/IATA_OrderViewRS"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RefVersionNumber" type="xs:string"/>
  <xs:element name="AltLangID" type="xs:string"/>
  <xs:element name="CorrelationID" type="xs:string"/>
  <xs:element name="EchoTokenText" type="xs:string"/>
  <xs:element name="PrimaryLangID" type="xs:string"/>
  <xs:element name="RetransmissionInd" type="xs:string"/>
  <xs:element name="SeqNumber" type="xs:string"/>
  <xs:element name="Timestamp" type="xs:string"/>
  <xs:element name="TrxID">
    <xs:simpleType>
      <xs:restriction base="xs:string">
        <xs:enumeration value="680bd3f9-aeac-452d-9512-ccv3b4c494db"/>
        <xs:enumeration value="2021061804495987"/>
      </xs:restriction>
    </xs:simpleType>
  </xs:element>
  <xs:element name="TrxStatusCode" type="xs:string"/>
  <xs:element name="VersionNumber" type="xs:string"/>
  <xs:element name="AccountTypeText" type="xs:string"/>
  <xs:element name="BankAccountID">
    <xs:simpleType>
      <xs:restriction base="xs:string">
        <xs:enumeration value=""/>
        <xs:enumeration value="YEEPAYOTA001"/>
      </xs:restriction>
    </xs:simpleType>
  </xs:element>
  <xs:element name="BankTransfer">
    <xs:complexType>
      <xs:sequence>
        <xs:element ref="iata:AccountTypeText" xmlns:iata="http://www.iata.org/IATA/2015/00/2018.2/IATA_OrderViewRS"/>
        <xs:element ref="iata:BankAccountID" xmlns:iata="http://www.iata.org/IATA/2015/00/2018.2/IATA_OrderViewRS"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="TrxTypeText">
    <xs:simpleType>
      <xs:restriction base="xs:string">
        <xs:enumeration value="Purchase"/>
        <xs:enumeration value="Refund"/>
      </xs:restriction>
    </xs:simpleType>
  </xs:element>
  <xs:element name="PaymentInfoID">
    <xs:simpleType>
      <xs:restriction base="xs:string">
        <xs:enumeration value="5bb479de0e19439abcc26b9f00ef7215"/>
        <xs:enumeration value="b0ae1e49-ef01-406f-b9ae-31d737f515b4"/>
      </xs:restriction>
    </xs:simpleType>
  </xs:element>
  <xs:element name="PaymentMethod">
    <xs:complexType>
      <xs:sequence>
        <xs:element ref="iata:BankTransfer" xmlns:iata="http://www.iata.org/IATA/2015/00/2018.2/IATA_OrderViewRS"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="PaymentTrx">
    <xs:complexType>
      <xs:sequence>
        <xs:element ref="iata:TrxID" xmlns:iata="http://www.iata.org/IATA/2015/00/2018.2/IATA_OrderViewRS"/>
        <xs:element ref="iata:OriginalID" minOccurs="0" xmlns:iata="http://www.iata.org/IATA/2015/00/2018.2/IATA_OrderViewRS"/>
        <xs:element ref="iata:TrxTypeText" xmlns:iata="http://www.iata.org/IATA/2015/00/2018.2/IATA_OrderViewRS"/>
        <xs:element ref="iata:TimestampDateTime" minOccurs="0" xmlns:iata="http://www.iata.org/IATA/2015/00/2018.2/IATA_OrderViewRS"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="OriginalID" type="xs:string"/>
  <xs:element name="TimestampDateTime" type="xs:string"/>
  <xs:element name="Error">
    <xs:complexType>
      <xs:sequence>
        <xs:element ref="iata:Code" xmlns:iata="http://www.iata.org/IATA/2015/00/2018.2/IATA_OrderViewRS"/>
        <xs:element ref="iata:DescText" xmlns:iata="http://www.iata.org/IATA/2015/00/2018.2/IATA_OrderViewRS"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Response">
    <xs:complexType>
      <xs:sequence>
        <xs:element ref="iata:DataLists" xmlns:iata="http://www.iata.org/IATA/2015/00/2018.2/IATA_OrderViewRS"/>
        <xs:element ref="iata:Order" xmlns:iata="http://www.iata.org/IATA/2015/00/2018.2/IATA_OrderViewRS"/>
        <xs:element ref="iata:TicketDocInfo" maxOccurs="unbounded" minOccurs="0" xmlns:iata="http://www.iata.org/IATA/2015/00/2018.2/IATA_OrderViewRS"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="MessageDoc">
    <xs:complexType>
      <xs:sequence>
        <xs:element ref="iata:Name" xmlns:iata="http://www.iata.org/IATA/2015/00/2018.2/IATA_OrderViewRS"/>
        <xs:element ref="iata:RefVersionNumber" xmlns:iata="http://www.iata.org/IATA/2015/00/2018.2/IATA_OrderViewRS"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="PayloadAttributes">
    <xs:complexType>
      <xs:sequence>
        <xs:element ref="iata:AltLangID" xmlns:iata="http://www.iata.org/IATA/2015/00/2018.2/IATA_OrderViewRS"/>
        <xs:element ref="iata:CorrelationID" xmlns:iata="http://www.iata.org/IATA/2015/00/2018.2/IATA_OrderViewRS"/>
        <xs:element ref="iata:EchoTokenText" xmlns:iata="http://www.iata.org/IATA/2015/00/2018.2/IATA_OrderViewRS"/>
        <xs:element ref="iata:PrimaryLangID" xmlns:iata="http://www.iata.org/IATA/2015/00/2018.2/IATA_OrderViewRS"/>
        <xs:element ref="iata:RetransmissionInd" xmlns:iata="http://www.iata.org/IATA/2015/00/2018.2/IATA_OrderViewRS"/>
        <xs:element ref="iata:SeqNumber" xmlns:iata="http://www.iata.org/IATA/2015/00/2018.2/IATA_OrderViewRS"/>
        <xs:element ref="iata:Timestamp" xmlns:iata="http://www.iata.org/IATA/2015/00/2018.2/IATA_OrderViewRS"/>
        <xs:element ref="iata:TrxID" xmlns:iata="http://www.iata.org/IATA/2015/00/2018.2/IATA_OrderViewRS"/>
        <xs:element ref="iata:TrxStatusCode" xmlns:iata="http://www.iata.org/IATA/2015/00/2018.2/IATA_OrderViewRS"/>
        <xs:element ref="iata:VersionNumber" xmlns:iata="http://www.iata.org/IATA/2015/00/2018.2/IATA_OrderViewRS"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="PaymentInfo">
    <xs:complexType>
      <xs:sequence>
        <xs:element ref="iata:Amount" xmlns:iata="http://www.iata.org/IATA/2015/00/2018.2/IATA_OrderViewRS"/>
        <xs:element ref="iata:OrderItemRefID" xmlns:iata="http://www.iata.org/IATA/2015/00/2018.2/IATA_OrderViewRS"/>
        <xs:element ref="iata:OrderRefID" minOccurs="0" xmlns:iata="http://www.iata.org/IATA/2015/00/2018.2/IATA_OrderViewRS"/>
        <xs:element ref="iata:PaymentInfoID" xmlns:iata="http://www.iata.org/IATA/2015/00/2018.2/IATA_OrderViewRS"/>
        <xs:element ref="iata:PaymentMethod" xmlns:iata="http://www.iata.org/IATA/2015/00/2018.2/IATA_OrderViewRS"/>
        <xs:element ref="iata:PaymentTrx" xmlns:iata="http://www.iata.org/IATA/2015/00/2018.2/IATA_OrderViewRS"/>
        <xs:element ref="iata:TypeCode" xmlns:iata="http://www.iata.org/IATA/2015/00/2018.2/IATA_OrderViewRS"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="IATA_OrderViewRS">
    <xs:complexType>
      <xs:sequence>
        <xs:element ref="iata:Error" xmlns:iata="http://www.iata.org/IATA/2015/00/2018.2/IATA_OrderViewRS"/>
        <xs:element ref="iata:Response" xmlns:iata="http://www.iata.org/IATA/2015/00/2018.2/IATA_OrderViewRS"/>
        <xs:element ref="iata:MessageDoc" xmlns:iata="http://www.iata.org/IATA/2015/00/2018.2/IATA_OrderViewRS"/>
        <xs:element ref="iata:PayloadAttributes" xmlns:iata="http://www.iata.org/IATA/2015/00/2018.2/IATA_OrderViewRS"/>
        <xs:element ref="iata:PaymentInfo" maxOccurs="unbounded" minOccurs="0" xmlns:iata="http://www.iata.org/IATA/2015/00/2018.2/IATA_OrderViewRS"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>